/**
* Button factory mixins
* ------------------------------------------
*/

$buttonFont: "Whitney SSm A", "Whitney SSm B", sans-serif; // TODO: read from UI/heading font defined in vars file

%_button_base {
	@include round(3px);
	@include transition('none');
	@include inlineblock();
	margin-bottom: $baseline;
	font-family: $buttonFont;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none !important;
	border-width: 0;
	&:focus {
		outline-width: 0;
	}
}

/**
* Default button
*
* @param $bgColor - background color
* @param $textColor - text color (calculated from bgColor if unspecified)
* -----------------------------------------------
*/
@mixin button( $bgColor: $C_tertiaryGray, $textColor: "" ) {
	$borderOffset: 25%;

	@if $textColor == "" {
		@if isDark( $bgColor ) {
			$textColor: getSecondaryTextColor($bgColor);
		} @else {
			$textColor: getSecondaryTextColor($bgColor);
		}
	}
	@extend %_button_base;
	@include box-shadow(darken($bgColor, $borderOffset), 0px, 2px, 0px, 0px);
	padding: 9px 18px;
	color: $textColor !important; // need this for chapstick
	background: $bgColor;

	&:active {
		@include box-shadow(darken($bgColor, $borderOffset), 0px, 0px, 0px, 0px);
		@include transform(translate(0px, 2px));
	}

	&:hover {
		background:  darken($bgColor, 2%);
	}
}



/**
* Flat button
* @param $color - single border/text/hover color
* -----------------------------------------------
*/
@mixin button-flat( $color ) {
	@extend %_button_base;
	@include transition(all .1s ease-in-out);
	@include box-sizing("border");
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	color: $color !important;
	background: transparent;
	border: 2px solid $color;
	padding: 6px 15px;

	&:hover {
		background: $color;
		color: getPrimaryTextColor($color) !important;
	}
}
