/**
* BASE PARTIAL
* imports all framework includes
*
* the $platform variable is used within each import to determine
* if any given css rule is compiled to desktop or mobile css files
*/


// VARS
@import "vars/core";


// FUNCTIONS
@import "util/functions/brightness";
@import "util/functions/cssUnitUtils";
@import "util/functions/stringUtils";


// UTIL
@import "util/mixins";
@import "util/layout";
@import "util/border";
@import "util/shapes";
@import "util/images";
@import "util/background";
@import "util/shadow";
@import "util/transform";
@import "util/animation";
@import "util/breakpoints";
@import "util/media";
@import "util/ui-indicator";


// CORE
@import "core/element_defaults";
@import "core/tables";
@import "core/lists";
@import "core/forms";
@import "core/buttons";
@import "core/layout";


// COMPONENTS
@import "components/figureset";
@import "components/fix_flex";
@import "components/pin_layout";
@import "components/cards";
@import "components/tearsheet";
@import "components/avatar";
@import "components/pill_labels";
@import "components/nametag-photo";
@import "components/tabs";
@import "components/pagination";
@import "components/appendpager";
@import "components/navbuttons";
@import "components/segmentedcontrol";
@import 'components/touchLists';
@import 'components/touchForms';
@import 'components/tileGrid';


// MODIFIERS (last in cascade to allow component overrides)
@import "core/modifiers";
