<% isIndex = title.empty? %>

	<% if isIndex %>
		<nav id="mainNav" class="inverted margin-none big" style="text-align: left !important;">
			<h1>Documentation</h1>
			<ul class="paddedList margin-none padding-none">
				<% @categories.each do |category, file_name| %>
					<li class="<%= title == category ? 'selected' : '' %>">
						<a href="<%= file_name %>"><%= category %></a>
					</li>
				<% end %>
			</ul>
		</nav>
	<% end %>


	<% if not isIndex %>
			</section>
		</div>
	<% end %>

	<script type="text/javascript">
		// links in code examples shouldn't be followable
		window.onload = function() {
			var links = document.querySelectorAll('.codeExample a');
			for ( i=0; i<links.length; i++ ) {
				if ( !links[i].dataset.follow ) {
					links[i].onclick = function() {
						return false;
					};
				}
			}
		};
	</script>

	</body>
</html>
