// PRIMITIVE COLORS - used in multiple color aliases, try not to use these directly
$C_red: rgb(226,55,60);
@mixin color_red { color: $C_red; }
$C_blue: rgb(57,135,203);
@mixin color_blue { color: $C_blue; }
$C_primaryGray: rgba(0,0,0,0.95);
@mixin color_primaryGray { color: lighten( rgb(0,0,0), 5.000000000000004%); color: $C_primaryGray; }
$C_secondaryGray: rgba(0,0,0,0.65);
@mixin color_secondaryGray { color: lighten( rgb(0,0,0), 35.0%); color: $C_secondaryGray; }
$C_tertiaryGray: rgba(0,0,0,0.4);
@mixin color_tertiaryGray { color: lighten( rgb(0,0,0), 60.0%); color: $C_tertiaryGray; }
$C_lineGray: rgba(0,0,0,0.1);
@mixin color_lineGray { color: lighten( rgb(0,0,0), 90.0%); color: $C_lineGray; }
$C_primaryGrayInverted: rgb(255,255,255);
@mixin color_primaryGrayInverted { color: $C_primaryGrayInverted; }
$C_secondaryGrayInverted: rgba(255,255,255,0.8);
@mixin color_secondaryGrayInverted { color: lighten( rgb(255,255,255), 19.999999999999996%); color: $C_secondaryGrayInverted; }
$C_tertiaryGrayInverted: rgba(255,255,255,0.4);
@mixin color_tertiaryGrayInverted { color: lighten( rgb(255,255,255), 60.0%); color: $C_tertiaryGrayInverted; }
$C_lineGrayInverted: rgba(255,255,255,0.2);
@mixin color_lineGrayInverted { color: lighten( rgb(255,255,255), 80.0%); color: $C_lineGrayInverted; }
 
// BACKGROUNDS - these are always 100% opacity
$C_backgroundContent: rgb(255,255,255);
@mixin color_backgroundContent { color: $C_backgroundContent; }
$C_backgroundCollection: rgb(231,231,231);
@mixin color_backgroundCollection { color: $C_backgroundCollection; }
$C_backgroundNav: rgb(247,247,247);
@mixin color_backgroundNav { color: $C_backgroundNav; }
$C_backgroundContentInverted: rgb(53,62,71);
@mixin color_backgroundContentInverted { color: $C_backgroundContentInverted; }
$C_backgroundContentAccent: rgb(226,55,60);
@mixin color_backgroundContentAccent { color: $C_backgroundContentAccent; }
 
// DEFAULT CONTEXT (content on light backgrounds)
$C_textPrimary: rgba(0,0,0,0.95);
@mixin color_textPrimary { color: lighten( rgb(0,0,0), 5.000000000000004%); color: $C_textPrimary; }
$C_textSecondary: rgba(0,0,0,0.65);
@mixin color_textSecondary { color: lighten( rgb(0,0,0), 35.0%); color: $C_textSecondary; }
$C_textTertiary: rgba(0,0,0,0.4);
@mixin color_textTertiary { color: lighten( rgb(0,0,0), 60.0%); color: $C_textTertiary; }
$C_border: rgba(0,0,0,0.1);
@mixin color_border { color: lighten( rgb(0,0,0), 90.0%); color: $C_border; }
$C_link: rgb(57,135,203);
@mixin color_link { color: $C_link; }
$C_accent: rgb(226,55,60);
@mixin color_accent { color: $C_accent; }
$C_yes: rgb(226,55,60);
@mixin color_yes { color: $C_yes; }
$C_no: rgba(0,0,0,0.65);
@mixin color_no { color: lighten( rgb(0,0,0), 35.0%); color: $C_no; }
$C_waitlist: rgba(0,0,0,0.65);
@mixin color_waitlist { color: lighten( rgb(0,0,0), 35.0%); color: $C_waitlist; }
$C_buttonPrimary: rgb(226,55,60);
@mixin color_buttonPrimary { color: $C_buttonPrimary; }
$C_buttonSecondary: rgba(0,0,0,0.4);
@mixin color_buttonSecondary { color: lighten( rgb(0,0,0), 60.0%); color: $C_buttonSecondary; }
$C_buttonTertiaryBorder: rgba(0,0,0,0.4);
@mixin color_buttonTertiaryBorder { color: lighten( rgb(0,0,0), 60.0%); color: $C_buttonTertiaryBorder; }
 
// INVERTED CONTEXT (content on dark backgrounds)
$C_textPrimaryInverted: rgb(255,255,255);
@mixin color_textPrimaryInverted { color: $C_textPrimaryInverted; }
$C_textSecondaryInverted: rgba(255,255,255,0.8);
@mixin color_textSecondaryInverted { color: lighten( rgb(255,255,255), 19.999999999999996%); color: $C_textSecondaryInverted; }
$C_textTertiaryInverted: rgba(255,255,255,0.4);
@mixin color_textTertiaryInverted { color: lighten( rgb(255,255,255), 60.0%); color: $C_textTertiaryInverted; }
$C_borderInverted: rgba(255,255,255,0.2);
@mixin color_borderInverted { color: lighten( rgb(255,255,255), 80.0%); color: $C_borderInverted; }
$C_linkInverted: rgb(57,135,203);
@mixin color_linkInverted { color: $C_linkInverted; }
$C_accentInverted: rgb(226,55,60);
@mixin color_accentInverted { color: $C_accentInverted; }
$C_yesInverted: rgb(226,55,60);
@mixin color_yesInverted { color: $C_yesInverted; }
$C_noInverted: rgba(255,255,255,0.8);
@mixin color_noInverted { color: lighten( rgb(255,255,255), 19.999999999999996%); color: $C_noInverted; }
$C_waitlistInverted: rgba(255,255,255,0.8);
@mixin color_waitlistInverted { color: lighten( rgb(255,255,255), 19.999999999999996%); color: $C_waitlistInverted; }
$C_buttonPrimaryInverted: rgb(226,55,60);
@mixin color_buttonPrimaryInverted { color: $C_buttonPrimaryInverted; }
$C_buttonSecondaryInverted: rgba(255,255,255,0.4);
@mixin color_buttonSecondaryInverted { color: lighten( rgb(255,255,255), 60.0%); color: $C_buttonSecondaryInverted; }
$C_buttonTertiaryBorder: rgba(255,255,255,0.4);
@mixin color_buttonTertiaryBorder { color: lighten( rgb(255,255,255), 60.0%); color: $C_buttonTertiaryBorder; }
 
// MISC
$C_overlayPressed: rgba(64,197,255,0.2);
@mixin color_overlayPressed { color: lighten( rgb(64,197,255), 80.0%); color: $C_overlayPressed; }
 
// SOCIAL (third party colors)
$C_facebook: rgb(59,89,152);
@mixin color_facebook { color: $C_facebook; }
$C_twitter: rgb(51,204,255);
@mixin color_twitter { color: $C_twitter; }
$C_linkedin: rgb(72,117,180);
@mixin color_linkedin { color: $C_linkedin; }
$C_tumblr: rgb(43,73,100);
@mixin color_tumblr { color: $C_tumblr; }
$C_flickr: rgb(254,8,131);
@mixin color_flickr { color: $C_flickr; }
$C_foursquare: rgb(12,186,223);
@mixin color_foursquare { color: $C_foursquare; }
$C_googleplus: rgb(198,61,45);
@mixin color_googleplus { color: $C_googleplus; }
$C_instagram: rgb(78,67,60);
@mixin color_instagram { color: $C_instagram; }
$C_reddit: rgb(206,227,248);
@mixin color_reddit { color: $C_reddit; }
 