// PRIMITIVE COLORS - used in multiple color aliases, try not to use these directly
$C_red: rgb(226,55,60);
$C_blue: rgb(57,135,203);
$C_primaryGray: rgba(0,0,0,0.95);
$C_secondaryGray: rgba(0,0,0,0.65);
$C_tertiaryGray: rgba(0,0,0,0.33);
$C_lineGray: rgba(0,0,0,0.1);
$C_primaryGrayInverted: rgb(255,255,255);
$C_secondaryGrayInverted: rgba(255,255,255,0.8);
$C_tertiaryGrayInverted: rgba(255,255,255,0.4);
$C_lineGrayInverted: rgba(255,255,255,0.2);
 
// BACKGROUNDS - these are always 100% opacity
$C_backgroundContent: rgb(255,255,255);
$C_backgroundCollection: rgb(231,231,231);
$C_backgroundNav: rgb(247,247,247);
$C_backgroundFooter: rgb(64,64,64);
$C_backgroundContentInverted: rgb(53,62,71);
$C_backgroundContentAccent: rgb(226,55,60);
 
// DEFAULT CONTEXT (content on light backgrounds)
$C_textPrimary: rgba(0,0,0,0.95);
$C_textSecondary: rgba(0,0,0,0.65);
$C_textTertiary: rgba(0,0,0,0.33);
$C_border: rgba(0,0,0,0.1);
$C_link: rgb(57,135,203);
$C_accent: rgb(226,55,60);
$C_yes: rgb(226,55,60);
$C_no: rgba(0,0,0,0.65);
$C_waitlist: rgba(0,0,0,0.65);
$C_buttonPrimary: rgb(226,55,60);
$C_buttonSecondary: rgba(0,0,0,0.33);
$C_buttonTertiaryBorder: rgba(0,0,0,0.33);
 
// INVERTED CONTEXT (content on dark backgrounds)
$C_textPrimaryInverted: rgb(255,255,255);
$C_textSecondaryInverted: rgba(255,255,255,0.8);
$C_textTertiaryInverted: rgba(255,255,255,0.4);
$C_borderInverted: rgba(255,255,255,0.2);
$C_linkInverted: rgb(57,135,203);
$C_accentInverted: rgb(226,55,60);
$C_yesInverted: rgb(226,55,60);
$C_noInverted: rgba(255,255,255,0.8);
$C_waitlistInverted: rgba(255,255,255,0.8);
$C_buttonPrimaryInverted: rgb(226,55,60);
$C_buttonSecondaryInverted: rgba(255,255,255,0.4);
$C_buttonTertiaryBorder: rgba(255,255,255,0.4);
 
// MISC
$C_overlayPressed: rgba(64,197,255,0.2);
 
// SOCIAL (third party colors)
$C_facebook: rgb(59,89,152);
$C_twitter: rgb(51,204,255);
$C_linkedin: rgb(72,117,180);
$C_tumblr: rgb(43,73,100);
$C_flickr: rgb(254,8,131);
$C_foursquare: rgb(12,186,223);
$C_googleplus: rgb(198,61,45);
$C_instagram: rgb(78,67,60);
$C_reddit: rgb(206,227,248);
 