/**
* ==============================================
* BOXY BUTTONS
*/

// Default button (secondary)
//
// this one doesn't use the button mixin
// because it's transparent in order to visually
// mix with any background color
// ---------------------------

@import "../util/buttonFactory";

%button,
.button,
button,
input[type="submit"] {
	@extend %_button_base;
	@if $platform == "desktop" {
		@extend %_chrome_button_fix;
	}

	color: $C_secondaryGray !important; // need this for chapstick
	background: $C_lineGray;
	@include box-shadow($C_tertiaryGray, 0px, 2px, 0px, 0px);

	&.button--active,
	&:active {
		@include box-shadow($C_tertiaryGray, 0px, 0px, 0px, 0px);
		@include transform(translate(0px, 2px));
	}

	&.button--active,
	&:hover {
		background: opacify($C_lineGray, 0.06);
	}

	&.disabled,
	&:disabled {
		opacity: 0.4;
		cursor: normal;
		&:active {
			@include transform(translate(0px, 0px));
			@include box-shadow($C_tertiaryGray, 0px, 2px, 0px, 0px);
		}
		&:hover {
			background: $C_lineGray;
		}
		&.button--active {
			background: $C_lineGray;
			@include transform(translate(1px, 0px));
			@include box-shadow($C_tertiaryGray, 0px, 2px, 0px, 0px);
		}
	}

	.inverted & {
		color: $C_secondaryGrayInverted !important; // need this for chapstick
		background: $C_lineGrayInverted;
		@include box-shadow($C_tertiaryGray, 0px, 2px, 0px, 0px);

		&:active {
			@include box-shadow($C_tertiaryGray, 0px, 0px, 0px, 0px);
			@include transform(translate(0px, 2px));
		}

		&:hover {
			background: transparentize($C_lineGrayInverted, 0.06);
		}
		&.disabled,
		&:disabled {
			&:hover {
				background: $C_lineGrayInverted;
			}
		}
	}
}

// Primary button
//
// this gets a bit lengthy to support
// the legacy class "primary" on the higher
// specificity 'input[type="submit"]'
// ---------------------------
%button--primary,
.primary,
.button.primary,
.button--primary,
input[type="submit"].primary,
input[type="submit"].button--primary {
	@include button( $C_red, #fff );
}

// Black button
// ---------------------------
%button--black,
.button--black,
input[type="submit"].button--black {
	@include button( #000, #fff );
}

// Black button
// ---------------------------
%button--white,
.button--white,
input[type="submit"].button--black {
	@include button( #fff, $C_red );
}

// Blue button
// ---------------------------
%button--blue,
.button--blue,
input[type="submit"].button--blue {
	@include button( #13a1ff );
}


// input translation fix
//
// we can't fix the chrome double click issue
// without pseudo elements, which don't work on input els
input[type="submit"]:active {
	-moz-transform: translate(0px, 0px) !important;
	-ms-transform: translate(0px, 0px) !important;
	-o-transform: translate(0px, 0px) !important;
	-webkit-transform: translate(0px, 0px) !important;
	transform: translate(0px, 0px) !important;
}


/**
* ==============================================
* FLAT BUTTONS
*/

// Flat button (gray) [DEFAULT]
// --------------------------- 
%button-flat,
%button-flat--gray,
.button-flat,
.button-flat--gray {
	@include button-flat( #777 );
}

// Flat button (white)
// ---------------------------
%button-flat--white,
.button-flat--white {
	@include button-flat( #fff );
}

// Flat button (black)
// ---------------------------
%button-flat--black,
.button-flat--black {
	@include button-flat( #000 );
}

// Flat button (red)
// ---------------------------
%button-flat--red,
.button-flat--red {
	@include button-flat( $C_red );
}


/**
* ==============================================
* PHOTO OVERLAY BUTTONS
*/

// Flat button (use over most photo bgs)
// ---------------------------
%button-photo,
%button-photo--white,
.button-photo,
.button-photo--white {
	@include button-photo( #fff );
}
