/**
* ==============================================
* BOXY BUTTONS
*/

// Default button (secondary)
//
// this one doesn't use the button mixin
// because it's transparent in order to visually
// mix with any background color
// ---------------------------

@import "../util/buttonFactory";


/*doc
---
title: Secondary Buttons
name: secondaryButton
category: Buttons
---

Button styles can be applied to any element. Typically you'll want
to use either a `<button>` or an `<a>` element:

Secondary buttons are slightly transparent so they appear to take on
a little bit of the background color behind them.

```html_example
	<button class="button">Button</button>
	<a class="button" href="#">Anchor</a>
```

*/

%button,
.button,
button,
input[type="submit"] {
	@extend %buttonBase;
	@include buttonHover();
	@include color-all($C_textPrimary);
	background: $C_contentBG;

	&.disabled,
	&:disabled {
		@include color-all($C_textSecondary, true);
		outline: none;
		background: transparentize($C_mediumGray, .88) !important;
		cursor: default;
		border: 1px solid $C_border;
		.inverted & {
			border-color: $C_borderInverted;
		}
	}
}

/*doc
---
title: Primary Buttons
name: primaryButton
category: Buttons
---

Button styles can be applied to any element. Typically you'll want
to use either a `<button>` or an `<a>` element:

Use primary buttons for primary actions.

```html_example
	<button class="button--primary">Button</button>
	<button class="button--black">Button</button>
	<button class="button--white">Button</button>
	<button class="button--green">Button</button>
	<button class="button--blue">Button</button>
```

 */

// Primary button
//
// this gets a bit lengthy to support
// the legacy class "primary" on the higher
// specificity 'input[type="submit"]'
// ---------------------------
%button--primary,
.primary,
.button.primary,
.button--primary,
input[type="submit"].D_submit,
input[type="submit"].primary,
input[type="submit"].button--primary {
	@extend %buttonBase;
	@include buttonColor( $C_button );
}

// Black button
// ---------------------------
%button--black,
.button--black,
input[type="submit"].button--black {
	@extend %buttonBase;
	@include buttonColor( #000 );
}

// Black button
// ---------------------------
%button--white,
.button--white,
input[type="submit"].button--black {
	@extend %buttonBase;
	@include buttonColor( #fff );
}

// Blue button
// ---------------------------
%button--blue,
.button--blue,
input[type="submit"].button--blue {
	@extend %buttonBase;
	@include buttonColor( #13a1ff );
}

// Green button (money-related)
// ---------------------------
%button--green,
.button--green,
input[type="submit"].button--green {
	@extend %buttonBase;
	@include buttonColor( $C_green );
}



/*doc
---
title: Flat Buttons
name: flatButton
category: Buttons
---

Flat buttons should almost always be used for `<a>` elements.

```html_example
	<a href="#" class="button-flat">Button</a>
	<a href="#" class="button-flat--white">Button</a>
	<a href="#" class="button-flat--black">Button</a>
	<a href="#" class="button-flat--red">Button</a>
	<a href="#" class="button-flat--green">Button</a>
```

*/

// Flat button (gray) [DEFAULT]
// --------------------------- 
%button-flat,
.button-flat {
	@extend %buttonBase;
	@include buttonColor( #fff );
}
%button-flat--gray,
.button-flat--gray {
	@extend %buttonBase;
	@include buttonColor( #777 );
}

// Flat button (white)
// ---------------------------
%button-flat--white,
.button-flat--white {
	@extend %button--white;
}

// Flat button (black)
// ---------------------------
%button-flat--black,
.button-flat--black {
	@extend %button--black;
}

// Flat button (red)
// ---------------------------
%button-flat--red,
.button-flat--red {
	@extend %button--primary;
}

// Flat button (green/money)
// ---------------------------
%button-flat--green,
.button-flat--green {
	@extend %button--green;
}


/*doc
---
title: Photo Overlay Buttons
name: photoButton
category: Buttons
---

Use the photo overlay buttons on `<a>` elements that sit on
top of a background photo.

```html_example
	<a href="#" class="button-photo">Button</a>
```

*/

// Flat button (use over most photo bgs)
// ---------------------------
%button-photo,
%button-photo--white,
.button-photo,
.button-photo--white {
	@include button-photo( #fff );
}
