@if $platform == "desktop" {
	html {
		overflow-y: scroll;
		font-size: 100%;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		text-rendering: optimizeLegibility;
	}
	html, body {
		@include color_textSecondary();
		font-size: $baseFontSize;
		line-height: $baseLineHeight;
		font-family: $baseFontStack;
		font-weight: $W_normal;
		background-color: $C_backgroundCollection;
		margin: 0;
		padding: 0;
	}

/*doc
---
title: Inverted Context
name: inverted
category: Base CSS
---

The `inverted` class creates a context in which text colors and secondary
buttons are inverted to light colors to work on dark backgrounds or photos.

```html_example
	<div class="docBox">
		<div class="docSection inverted" style="background-color: #5D87B0;">
			<h3>Yay, I'm inverted</h3>
			<p>
				All the text flips to light colors<br />
				<span class="muted">We handle different shades of gray using opacity</span>
			</p>
			<button>Default (secondary) button</button>
		</div>
	</div>
```

*/
	.inverted {
		@include color_textSecondaryInverted();
	}

/*doc
---
title: Element defaults
name: defaults
category: Base CSS
---

We don't reset base tags, we _set_ them. For good typography, just
use good markup. The approprite semantic heading level, for example, should
match up with the appropriate visual style.

All block level content tags, like `<p>` have the same `margin-bottom`. This
ensures good vertical flow, and also gives us a standard for our content
containers. The `docSection` content container for example, has padding on
all sides but the bottom (because the margin on the last block element provides
the whitespace on the bottom).

<p class="highlighted">For a full example of element defaults see the Sassquatch <a href="specimen.html">type specimen</a>.</p>

```html_example
	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>
	<h6>Heading 6</h6>
	<img src="http://placekitten.com/80/80" />
	<p>I'm a paragraph with <strong>strong</strong> things to say with <em>emphasis</em></p>
	<ul>
		<li>list item</li>
		<li>list item</li>
	</ul>
	<p>Another paragraph with some <sup>super</sup> inline tags. We take the <sub>sub</sub>way to work. Let's put a <a href="#">link</a> in here.</p>
```

*/

	/* {{{ Inline tag defaults */
	abbr, strong, acronym, span, small, time, strike, sub, sup, a, code {
		display: inline;
	}
	abbr, acronym {
		border-width: 0;
	}
	b,strong { font-weight: $W_bold; }
	sup, sub {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }
	code, pre {
		font-family: $monoFontStack;
	}
	/* }}} */

	/* {{{ Block tag defaults */
	p, ul, ol, blockquote,
	form, fieldset, legend,
	table, dl,dd,
	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, pre {
		margin: 0;
		padding: 0;
		margin-bottom: $spacing;
	}
	form, legend {
		margin-bottom: 0;
	}
	img {
		margin: 0;
		padding: 0;
		border: 0;
		line-height: 0;
		&.resample { /* assuming we're sizing an img down on the client */
			-ms-interpolation-mode: bicubic;
			image-rendering: optimizeQuality;
		}
	}
	ul, ol {
		list-style-position: outside;
		padding-left: 1.33em; /* indent by default */
	}
	li {
		margin: 0;
		padding: 0;
	}
	/* }}} */

	/* {{{ HTML5 element defaults (for when the time comes) */
	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
		display: block;
	}
	audio, canvas, video {
		display: inline-block;
		@include inlineblock();
	}
	/* }}} */

	/* {{{ Link defaults */
	a,
	a:link, a:visited,
	a:hover, a:active {
		 cursor: hand;
		 cursor: pointer;
		color: $C_blue;
		text-decoration: none;
	}
	a:visited {
		color: $C_blue;
	}
	a:hover, a:active {
		text-decoration: underline;
		color: $C_blue;
	}
	a:active {
		 color: darken($C_blue, 10%);
	}
	/* }}} */

	/* {{{ Headings */
	h1,h2,h3,h4,h5,h6 {
		@include color_textPrimary();
		font-family: $headingFontStack;
		margin: 0;
		padding: 0;
		padding-bottom: $baseline/2;
		line-height: 1.1;
		font-weight: $W_bold;
		.inverted & {
			@include color_textPrimaryInverted();
		}
	}
	h1 {
		@include remProp('font-size', $h1FontSize);
		letter-spacing: -0.75px;
	}
	h2 {
		@include remProp('font-size', $h2FontSize);
		letter-spacing: -0.5px;
	}
	h3 {
		@include remProp('font-size', $h3FontSize);
		padding-bottom: $baseline/3;
		line-height: 1.2;
		letter-spacing: -0.25px;
	}
	h4{
		@include remProp('font-size', $h4FontSize);
		padding-bottom: 0;
		line-height: $baseLineHeight;
		letter-spacing: -0.05px;
	}
	h5 {
		@include remProp('font-size', $h5FontSize);
		padding-bottom: 0;
		line-height: $baseLineHeight;

		font-weight: $W_normal;
	}
	h6 {
		@include remProp('font-size', $h6FontSize);
		padding-bottom: 0;
		line-height: $baseLineHeight;

		text-transform: uppercase;
		font-variant: small-caps;
		font-weight: $W_normal;
	}
	/* }}} */
}


/*  TODO Please kill this. -j */
/*  NOTE
 *  This is a terrible, hacky mixin, but I can't tell 
 *  why it's being overridden elsewhere ATM. -j
 */
@mixin pholder() {
	 color: #b3b3b3 !important; /* == $C_gray70 in `_tl_parameters.scss` */
	 font-style: normal !important;
}

@if $platform == "mobile" {

/*doc
---
title: Element defaults
name: defaults
category: Base CSS
---

We don't reset base tags, we _set_ them. For good typography, just
use good markup. The approprite semantic heading level, for example, should
match up with the appropriate visual style.

All block level content tags, like `<p>` have the same `margin-bottom`. This
ensures good vertical flow, and also gives us a standard for our content
containers. The `docSection` content container for example, has padding on
all sides but the bottom (because the margin on the last block element provides
the whitespace on the bottom).

<p class="highlighted">For a full example of element defaults see the Sassquatch <a href="specimen.html">type specimen</a>.</p>

```html_example
	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>
	<h6>Heading 5</h6>
	<img src="http://placekitten.com/80/80" />
	<p>I'm a paragraph with <strong>strong</strong> things to say with <em>emphasis</em></p>
	<ul>
		<li>list item</li>
		<li>list item</li>
	</ul>
	<p>Another paragraph with some <sup>super</sup> inline tags. We take the <sub>sub</sub>way to work. Let's put a <a href="#">link</a> in here.</p>
```

*/


	/* {{{ RESETS, 	NOTE: this is most likely diff from full site sassquatch, 
					we are using boilerplate that comes with mobile resets */

	html, body {
		font-size: $baseFontSize;
		line-height:$baseLineHeight;
		color: $C_secondaryGray;
	} 

	// Override default text color for "inverted" contexts
	// (over deark backgrounds, photos, etc.)
	.inverted {
		color: $C_secondaryGrayInverted;
	}

	/* {{{ Block tag defaults */

	p,ul,ol,li
	blockquote, form, fieldset, legend,
	table, dl,dd,
	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
		margin: 0;
		padding: 0;
		margin-bottom: $spacing;
	}
	form, legend {
		margin-bottom: 0;
	}
	img {
		margin: 0;
		padding: 0;
		border: 0;
		&.resample { 
			-ms-interpolation-mode: bicubic; 
			image-rendering: optimizeQuality;
		}
	}

	ul, ol {
		list-style-position: inside;
		//NOTE: taking out padding
	}

	/* }}} */


	/* {{{ Link defaults */

	a:link, a:visited, a:hover, a:active {
		text-decoration: none;	
		color: $C_blue;
	}

	.linked {
		color: $C_blue !important;
	}

	/* }}} */

	/* {{{ Headings */

	h1,h2,h3,h4,h5,h6 {
		@include color_textPrimary();
		font-family: $headingFontStack;
		font-weight: $W_bold;
		margin: 0;
		padding: 0;
		padding-bottom: $baseline/2;
		line-height: 1.2;
		.inverted & {
			@include color_textPrimaryInverted();
		}
	}
	h1 { 
		@include remProp('font-size', $h1FontSize);
		letter-spacing: -0.75px;
	}
	h2 { 
		@include remProp('font-size', $h2FontSize);
		letter-spacing: -0.5px;
	}
	h3 { 
		@include remProp('font-size', $h3FontSize);
	}
	h4 { @include remProp('font-size', $h4FontSize) }
	h5 { 
		@include remProp('font-size', $h5FontSize);
		font-weight: $W_normal;
	}
	h6 { 
		@include remProp('font-size', $h6FontSize);
		font-weight: $W_normal;
		text-transform:uppercase;
	}  /* probably won't use it, but it's in the html spec, so worth defining a default */

	/* }}} */


	/*  {{{ Override input styles */
	/**
	* Placeholder styles
	*/
	textarea::-webkit-input-placeholder, 
	input::-webkit-input-placeholder { 
		 @include pholder();
	}
	textarea:-moz-placeholder,
	input:-moz-placeholder { 
		 @include pholder();
	}
	textarea:-ms-input-placeholder, 
	input:-ms-input-placeholder {
		 @include pholder();
	}
	/* }}} */

}
