body {
	background-color: #e7e7e7; /* $C_gray90 */
}

.doc-box {
	margin: $baseline;
	margin-bottom:0;

	&:last-child {
		margin-bottom:$baseline*.75;
	}
}


.doc-content.bordered {
	border-top: 1px solid $C_line;
}

//* warnings & messages
.doc-box-notice {
	padding:$spacing;
}


.doc-content-into.right:before, .doc-content-into.right:after, .doc-content-outof.right:before, .doc-content-outof.right:after {
	left: auto;
	right:10px;
}

.doc-content-into.fromRight:before, .doc-content-into.fromRight:after, .doc-content-outof.fromRight:before, .doc-content-outof.fromRight:after {
	left:auto;
	right:10px;
}

.doc-content-into.shaded:after, .doc-content-outof.shaded:after {
	border-bottom: 6px solid  $C_gray_lighter;
}
