/**
* LAYOUT
* oocss grids, modifier classes for layout
*/

/*doc
---
title: OOCSS Grids
name: grids
category: Layout
---

OOCSS Grids are used to break any space into fractions, they can be nested and stacked.
A unit can contain another line or it can contain other objects directly. Grids control
width, content controls height.

A `.line` or `.line-gutters` is a row, and a `.unit` is a column.

`lastUnit` flexes to fit the remaining space in the row.

```html_example
	<div class="line">
		<div class="unit size1of3">
			<p class="shaded">...first column...</p>
		</div>
		<div class="unit size1of3">
			<p class="highlighted">...second column...</p>
		</div>
		<div class="lastUnit">
			<p class="shaded-red">...third column...</p>
		</div>
	</div>

	<div class="line-gutters">
		<div class="unit size1of3">
			<p class="shaded">...first column...</p>
		</div>
		<div class="unit size1of3">
			<p class="highlighted">...second column...</p>
		</div>
		<div class="lastUnit">
			<p class="shaded-red">...third column...</p>
		</div>
	</div>
```

A number of size classes are available:

* `size1of1`
* `size1of2`
* `size1of3`, `size2of3`,
* `size1of4`, `size3of4`
* `size1of5`, `size2of5`, `size3of5`, `size4of5`
* `size1of7`, `size2of7`, `size3of7`, `size4of7`, `size5of7`, `size6of7`

*/
/* {{{ OOCSS Grids (see https://github.com/stubbornella/oocss/wiki/grids) */
.line:after,.line-gutters:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";speak:none;}
.line,.line-gutters{*zoom:1;}
.unit{float:left; min-height: 1px;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}
/* }}} end oocss grids */

/* {{{ extra grid divisions for meetup (accomodates "divideby='7'" box:col type layouts)*/
.size1of7{width:14.28571%;}
.size2of7{width:28.57142%;}
.size3of7{width:42.85713%;}
.size4of7{width:57.14284%;}
.size5of7{width:71.42855%;}
.size6of7{width:85.71426%;}
/* }}} */

/* {{{ ---DEPRECATED--- gutter modifiers */
.gutter-left {
	margin-left: $baseline;
}
.gutter-right {
	margin-right: $baseline;
}
/* }}} */

/* {{{ Grid line with auto-gutters units (.line-gutters shares .line rules as defined above) */
.line-gutters {
    margin-bottom: $baseline;
    margin-right: $baseline*-1; /* pull last child to the right to meet the right edge of the page */
    > .unit, > .lastUnit {
        padding-right: $baseline;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
}
/* }}} */

/* {{{ Width Modifiers */

/*doc
---
title: Width Modifiers
name: widthModifiers
category: Layout
---

Useful classes for setting percentage widths on arbitary elements.

```html_example
	<p class="span-25 shaded-red">span-25</p>
	<p class="span-30 shaded-red">span-30</p>
	<p class="span-50 shaded-red">span-50</p>
	<p class="span-60 shaded-red">span-60</p>
	<p class="span-75 shaded-red">span-75</p>
	<p class="span-100 shaded-red">span-100</p>
```

*/
.span-25 { width: 25%; }
.span-30 { width: 30%; }
.span-50 { width: 50%; }
.span-60 { width: 60%; }
.span-75 { width: 75%; }
.span-100 { width: 99.8%; } /*ya rly (thanks, IE)*/
/* }}} */

/* {{{ Doc Stripe */

/*doc
---
title: Stripe Layout
name: docstar
category: Layout
---

Used for newer and more responsive layouts, where content lives on top of
a full-width background instead of `docBox` modules. The `docStripe` container
sets a full width background. 

The `docBounds` class is used as a padding helper and content wrapper; it uses
a max-width and min-width, but will otherwise flex to fit the width of the parent
container.

```html_example

	<!-- default stripe and color stripe -->
	<div class="docStripe">
		<div class="docBounds">
			<h3>I'm in a docBounds within a stripe</h3>
			<p>Any arbitrary content can go here. The docBounds sets the margins and max with. The stripe behind it sets the color.</p>
		</div>
	</div>
	<div class="docStripe--red inverted">
		<div class="docBounds">
			<h3>I'm in a red stripe</h3>
			<p>This <code>docStripe</code> also has a class of <code>inverted</code> to style these child element text colors correctly</p>
		</div>
	</div>

	<!-- "collections" -->
	<div class="docStripe--collection">
		<div class="docBounds">
			<h3>I contain a collection (of docBoxes)</h3>
			<div class="docBox">
				<div class="docSection">
					<p>I'm a section in a box</p>
				</div>
				<div class="docSection">
					<p>I'm a section in a box</p>
				</div>
			</div>
			<div class="docBox">
				<div class="docSection">
					<p>I'm a section in a box</p>
				</div>
				<div class="docSection">
					<p>I'm a section in a box</p>
				</div>
			</div>
		</div>
	</div>
```

*/

// default
.docStripe {
	@include color_lineGray('border-color');
	border: 1px solid top;
	background-color: #fff;
}

/*doc
---
title: Stripe variants
name: docStripe
parent: docstar
---

`docStripe` has a white background and slight border top by default,
but there are a number of other variants:

Class                   | Description
------------------------| ------------------------------------------------------
`docStripe--collection` | For a stripe containing a collection of cards or boxes
`docStripe--nav`        | A stripe with navingation (see rick, elaboration TK)
`docStripe--inverted`   | Dark stripe color - use with `inverted` class to style children
`docStripe--red`        | A Meetupy red stripe

*/

// for collections (cards, panels, etc)
.docStripe--collection {
	background-color: $C_backgroundCollection;
}

// TODO: what is this for?
.docStripe--nav {
	background-color: $C_backgroundNav;
}

// near-black stripe
.docStripe--inverted {
	background-color: $C_backgroundContentInverted;
}

// red accent stripe
.docStripe--red {
	background-color: $C_backgroundContentAccent;
}

/* }}} */

/* {{{ Doc bounds */
// max-width constraint with media queries
// has padding that adjusts down with smaller screens
.docBounds {
	@extend %clearfix;
	margin-left: auto;
	margin-right: auto;
	max-width: 720px; // TODO: decide what this should be?
	padding: $spacing*2 $spacing*2 $spacing $spacing*2;
}
/* }}} */

/* {{{ Box Styles */

/*doc
---
title: Doc Box
name: docBox
category: Layout
---

Draw rounded corner white box with default block content `margin-bottom`.

```html_example
	<div class="docBox">
		<p>I'm a box</p>
	</div>
```

*/


/*doc
---
title: Full width lists and docSection
name: docLists
parent: docBox
---

You can add a `sectionList` directly inside the `docBox` in order to
to span the full width of the box, and use `docSection` for padded content:

```html_example
	<div class="docBox">
		<div class="docSection">
			<h3>Cat name ideas</h3>
		</div>
		<ul class="sectionList">
			<li><p>Jennifer</p></li>
			<li><p>Sergei</p></li>
			<li><p>Bruce Springsteen</p></li>
			<li><p>Mittens</p></li>
		</ul>
	</div>
```

*/
.docBox,   // NEW SELECTOR
.doc-box { // DEPRECATED SELECTOR
	border-radius: $defaultRadius;
	background-color: #fff;
	margin-bottom: $baseline;
	border: 1px solid $C_line !important; /* !important to support .doc-box.doc-content multiple classes */
 	@include background-clip(padding);


	/**
	* round any first or last .doc-content elements inside of .doc-box
	* allows the doc-content to be shaded without conflicting with .doc-box rounding
	*/

	> .docSection:first-child,
	> .doc-content:first-child{
		border-top-left-radius: $defaultRadius;
		border-top-right-radius: $defaultRadius;
	}
	> .docSection:last-child,
	> .doc-content:last-child{
		border-bottom-left-radius: $defaultRadius;
		border-bottom-right-radius: $defaultRadius;
	}

	/**
	* doc-content elemenmts inside doc-box get a dividing border by default
	* (override with .border-none if you need to)
	*/
	& .doc-content {
		border-top: 1px solid $C_line;
		&:first-child{
			border-top: none;
		}
	}

	/**
	 * Let a first-child doc-content have a border too.
	 */

	& .doc-content.doc-content-border {
		border-top: 1px solid $C_line;
	}

	/**
	* Vertical box divisions (when direct child is an OOCSS "line")
	* allows the borders to span the full height of the .doc-box
	*
	* DEPRECATED BEHAVIOR: better to use modifiers and page-specific CSS for this
	* This will now only work with deprecated selectors
	*/
	> .line,
	> .line-gutters{
		> .unit{
			float: none;
			border-right: 1px solid #ddd;
			display: table-cell;
			vertical-align: top;
		}
		> .lastUnit{
			border-right: 0;
			vertical-align: top;
		}

		// magically correct rounded corners when in full-height columns
		.doc-content{
			border-radius: 0;
		}
		.unit:first-child .doc-content{
			&:first-child{
				border-top-left-radius: $defaultRadius;
			}
			&:last-child{
				border-bottom-left-radius: $defaultRadius;
			}
		}
		.unit:last-child .doc-content,
		.lastUnit .doc-content{
			&:first-child{
				border-top-right-radius: $defaultRadius;
			}
			&:last-child{
				border-bottom-right-radius: $defaultRadius;
			}
		}
	}

	/* see bug: 31893 */
	&.D_box {
		border: 0;
	}
}
.ie6, .ie7{
	.docBox .line .unit,
	.docBox .line-gutters .unit,
	.doc-box .line .unit,
	.doc-box .line-gutters .unit{
		float: left!important;
	}
}

.doc-padding,	/* generic padding helper (does nothing else) */
.doc-content,	/* content sectioning element (padds and divides, depending on nesting...) */
.doc-controls {	/* holds nav elements, filtering controls, etc. (usually above a list of stuff) */
	@include uncollapse();
	padding: $baseline;
	padding-bottom: 0;
}

/*doc
---
title: Doc Section (formerly doc content)
name: docSection
parent: docBox
---

Vertical content divider.
__Note:__ This replaces the deprecated `doc-content` class

```html_example

	<h5>Sections in a docBox</h5>
	<div class="docBox">
		<div class="docSection">
			<p>first content container</p>
		</div>
		<div class="docSection">
			<p>second content container</p>
		</div>
	</div>
```

```html_example
	<h5>Sections in a <a data-follow="true" href="#docstar">docStripe layout</a></h5>
	<div class="docStripe--red inverted">
		<div class="docBounds">
			<div class="docSection">
				<p>I'm a section in a docStripe</p>
			</div>
			<div class="docSection">
				<p>I'm another section in a docStripe</p>
			</div>
		</div>
	</div>
```

*/
.docSection {
	border-top: 1px solid $C_lineGray;
	border-bottom: 1px solid transparent; /* avoids margin collapse, hence this border... (takashi is a genius) */
	padding: $baseline $baseline 0 $baseline;
	&:first-child{
		border-top: none;
	}
	.inverted & {
		border-top-color: $C_lineGrayInverted;
	}
	.docBounds > & { // don't pad sides when directly inside a docBounds
		padding: $baseline 0 0 0;
	}
}

.suppress-hover-underline:hover {
	text-decoration: none !important;
}

.doc-controls {
	background: $C_gray;
	margin-bottom: $spacing;
}

/**
* footer used for dialogs, but could potentially be used elsewhere
*/
.doc-content.footer {
	background: $C_gray_lighter;
	border-radius: 0 0 $defaultRadius $defaultRadius;
}

/* }}} */

/* {{{ layout  modifiers */

/*doc
---
title: Float Clearing
name: clearfix
category: Layout
---

Clearfix method see: http://perishablepress.com/press/2009/12/06/new-clearfix-hack/

```html_example

	<!-- preferred method -->
	<div class="clearfix">
		<div style="float: left;" class="shaded-red">Floated div</div>
		<div style="float: right;" class="shaded-red">Floated div</div>
	</div>

	<hr />

	<!-- optional method -->
	<div>
		<div style="float: left;" class="shaded-red">Floated div</div>
		<div style="float: right;" class="shaded-red">Floated div</div>
		<br class="clear-both" />
	</div>
```

*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  html .clearfix, &:first-child+html .clearfix {
    zoom: 1; } }

.clear-both {
	clear: both;
}


/*doc
---
title: Rounding Corners
name: rounding
category: Layout
---

```html_example
	<div class="rounded-top shaded-red align-center"><p>rounded-top</p></div>
	<div class="rounded-bottom shaded-red align-center"><p>rounded-bottom</p></div>
	<div class="rounded-left shaded-red align-center"><p>rounded-left</p></div>
	<div class="rounded-right shaded-red align-center"><p>rounded-right</p></div>
	<div class="rounded-all shaded-red align-center"><p>rounded-all</p></div>
```
*/
.rounded-top {
	border-radius: $defaultRadius $defaultRadius 0 0;
}
.rounded-bottom {
	border-radius: 0 0 $defaultRadius $defaultRadius;
}
.rounded-all {
	border-radius: $defaultRadius;
}
.rounded-right {
	border-radius: 0 $defaultRadius $defaultRadius 0;
}
.rounded-left {
	border-radius: $defaultRadius 0 0 $defaultRadius;
}
/* }}} */

/* {{{ doc-content types TODO: DEPRECATE THIS */

/**
* Notice
* notification at the top of a .doc-box
* can be used to present optional actions for a user
*/
.doc-content-notice{
	background: #ddd;
	position: relative;
}
.close-me{ //close button for .doc-content-notice
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	cursor: pointer;
	*cursor: hand;
	@include opacity(.5);
	&:hover{
		@include opacity(1);
	}
}

/**
* into/outof
* heirarchy of doc-content elements signified by arrows in the borders
*/
$arrow-width: $baseline/2;
.doc-content-outof {
	@include ui-indicator(
		$direction: up, // up, right, down, left
		$size: $arrow-width,
		$color: white,
		$side: top, // top, right, bottom, left
		$offset-type: left,
		$offset-size: $baseline + $arrow-width,
		$border-width: 1px,
		$border-color: $C_line
	)
}
.doc-content-into {
	@include ui-indicator(
		$direction: down, // up, right, down, left
		$size: $arrow-width,
		$color: white,
		$side: top, // top, right, bottom, left
		$offset-type: left,
		$offset-size: $baseline + $arrow-width,
		$border-width: 1px,
		$border-color: $C_line
	)
}

/**
* doc-content-big
* for forms and content that have the main focus on a page (registration flow, for example)
*/
.doc-content-big {
	border-top: 1px solid $C_line;
	&:first-child{
		border-top: none;
	}
	padding: $bigBaseline;
	padding-bottom: 0;
	border-bottom: 1px solid transparent; /* avoids margin collapse, hence this border... (takashi is a genius) */

	label.small {
		font-size:$smallFontSize;
	}
	select {
		height: $bigFontSize*2 - 2;
		*height: auto;
		line-height: $bigFontSize*2 - 2;
	}
}
.doc-content-jagged {
	$jagged-height: 8px;
	margin-bottom: 0;
	position: relative;
	&:after {
		// note, the jagged edge image is based on a WHITE BACKGROUND
		content: '';
		height: $jagged-height;
		background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHBAMAAADHdxFtAAAAMFBMVEXo5+jo5+jo5+jo5+jo5+jo5+jo5+jo5+jo5+gAAAD8/Pzs6+z39/fw8PDp6On///82YZQ+AAAACnRSTlPvQICv3zAQv3AAem7q9gAAACtJREFUCB1jua/A8JeFl4FhE8sixQBOFlaBf/4szH38wizMgiINLAxW0xUAlmIHoor1uT8AAAAASUVORK5CYII=') repeat-x top left;
		background-size: $jagged-height;
		display: block;
		position: absolute;
		left: 0;
		bottom: -$jagged-height;
		width: 100%;
	}
}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	// worth it.
	.doc-content-jagged {
		&:after {
			background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAPCAMAAAA1b9QjAAAAGFBMVEXo5+jo5+jo5+jo5+gAAADy8fLp6On////wezdbAAAABXRSTlOvMG3hAMddbIkAAABVSURBVHjaXczRCsAwCEPRWNPs//94EMXh+lQO5kLP70F3g6BNV0itnYRIHw0keLwbCJCQJqJDkJyUBFrCO29Y4pQ30eJURVoq5cgnIUdGKhVbiNOfFxVwBT1o5t0MAAAAAElFTkSuQmCC') repeat-x top left;
			background-size: 8px auto;
		}
	}
}
/* }}} */

hr.double-line {
	// decorative hr style
	border: double;
	margin: 0 0 1px;
	border-width: 3px 0 0;
}

@if $platform == "mobile" {

	.doc-box {
		margin: $baseline * .75;
		margin-bottom:0;

		&:last-child {
			margin-bottom:$baseline * .75;
		}
	}

	// ah well, doc-box margin should = doc-content padding
	// so have to redefine
	.doc-content {
		padding:$baseline * .75;
		padding-bottom:0px;
	}

	.doc-content.bordered {
		border-top: 1px solid $C_line;
	}

	//* warnings & messages
	.doc-box-notice {
		padding:$baseline * .75;
	}


	.doc-content-into.right:before, .doc-content-into.right:after, .doc-content-outof.right:before, .doc-content-outof.right:after {
		left: auto;
		right:10px;
	}

	.doc-content-into.fromRight:before, .doc-content-into.fromRight:after, .doc-content-outof.fromRight:before, .doc-content-outof.fromRight:after {
		left:auto;
		right:10px;
	}

	.doc-content-into.shaded:after, .doc-content-outof.shaded:after {
		border-bottom: 6px solid  $C_gray_lighter;
	}
}
