/* List modifiers */
.resetList {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.inlineList, .inlineblockList, .pipeList, .crumbList {
	padding-left: 0;
	> li {
		display: inline;
		list-style: none;
	}
}
.inlineblockList > li {
    display: inline-block;
}
.pipeList > li {
	margin-right: 0.5em;
	padding-right: 0.5em;
	border-right: 1px solid;
	&:last-child, &.last {
		border-right-width: 0;
	}
}
.crumbList > li {
	margin-right: 0.75em;
	&:after {
		content: '>';
		margin-left: 0.75em;
	}
	&:last-child:after, &.last:after {
		margin-left: 0;
		content: '';
	}
}

.paddedList, .dividedList, .sectionList {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		margin: 0;
	}
}
.paddedList > li {
	padding: $spacing/2 0 0 0;
	&:first-child {
		padding: 0;
	}
}

.dividedList > li{
	padding: $spacing 0 0;
	border-top: 1px solid $C_line_less;
}

.sectionList > li{
	padding: $baseline $baseline ($baseline - $spacing);
	border-top: 1px solid $C_line_less;
}
/* }}} */

@if $platform == "mobile" {
	/* lists additions and overrides {{{ */

	.noneList {
		list-style-type: none;
		> li {
			list-style: none;
		}
	}

	.dividedList, .paddedList {
		> li {
			padding: $spacing*1.5 $spacing*1.5 0;
			&:first-child, &.first {
				border-top: 0;
			}
		}
	}

	.linkedList {
		list-style: none;
		padding: 0;
		margin: 0;
		> li {
			margin: 0;
			padding: 0;
			border-top: 1px solid $C_line_less;
			&:first-child, &.first {
				border-top: 0;
			}
			> a {
				display:block;
				padding: $spacing $spacing;
				color:$C_text;
				&:visited, &:active {
					color:$C_text;
				}
			}
		}
	}

	.linkedBlock {
		display:block;
		padding: $spacing $spacing ;
		color:$C_text;
	}

	a.linkedBlock, a:visited.linkedBlock, a:active.linkedBlock {
		color:$C_text;
	}

	.figureset-figure .linkedBlock {
		padding: $spacing*.75 $spacing*.75;
	}
	.figureset-figure.linkedBlock {
		padding-left: 0;
	}
	.figureset-description .linkedBlock {
		padding-left: 0;
		padding-right: 0;
	}

	/* another list */
	.shadedList {
		list-style: none;
		&.last-child,  &:last-child{
			border:0;
			margin-bottom:$baseline;
		}

		> li {
			padding:$spacing;
			@include shaded(darken($C_gray_lighter, 4%));
			margin-bottom:1px;
		}
	}

	.shadedList.inline {
		> li {
			display: inline;
			list-style: none;
			margin-bottom: 0;
			margin-right:1px;
			padding: 2px 5px;
			&:first-child {
				border-radius: $defaultRadius 0 0 $defaultRadius;
			}
			&:last-child {
				border-radius: 0 $defaultRadius $defaultRadius 0;
			}
		}

		&.last-child,  &:last-child {
			margin-right: 0;
		}
	}

	/* }}} */
}
