/* {{{ Typography modifiers */

/*doc
---
title: Highlighting
name: highlightModifiers
category: Modifiers
---

Class               | Example
--------------------| -----------------------------------------------
`debug`             | <p class="debug">Example paragraph</p>
`highlighted`       | <p class="highlighted">Example paragraph</p>
`shaded`            | <p class="shaded">Example paragraph</p>
`shaded-lighter`    | <p class="shaded-lighter">Example paragraph</p>
`shaded-red`        | <p class="shaded-red">Example paragraph</p>

*/
.debug {
	outline: 1px dotted red;
	background: pink;
	color: #555;
	font-family: Consolas, Monaco, monospace;
    padding: $spacing/2;
    &:before {
        color: blue;
        content: "DEBUG: ";
    }
}
.highlighted {
	background: $C_yellow;
}
.shaded {
	background-color: $C_gray;
}
.shaded-lighter {
	background-color:$C_gray_lightest;
}
.shaded-red {
	background-color: $C_red;
	color: white;
}

// TODO: we probably shouldn't keep this in sassquatch; we only use it once in chapstick
.shaded-pixelate {
	// this is a translucent 128x128 overlay that darkens squares of the underlying color
	// to make it appear blocky/giant-pixelated. It's a cool effect, show your friends!
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACABAMAAAAxEHz4AAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAAC3RSTlMTJjIeKDUJLRIkGx47F8wAAACZSURBVHhe7dWxDQJBDETRC0lpgRZogRa2BbdwLbgFWrgqIZhJRkKHRIKs/zPL65futtRdlTrUVXleqrsv/e4XoP8KAAAA2FUetvL+oQx5ngMAAABYfEZnsOc5AAAAQKlNJZgHBr2fAwAAAOQ/4PlbaA4AAABwdmjYQL6bAwAAACyVD0t5/gTPAQAAACwe0U0ZTqjUGAAAAOAFZgxFcV00Xf4AAAAASUVORK5CYII=');
}


/*doc
---
title: Focus
name: focusModifiers
category: Modifiers
---

Class            | Example
-----------------| -------------------------------------------------------------------------
`noFocus`        | <a href="#" class="button--primary noFocus">No focus style</a>

*/
.noFocus:focus {
	outline: none;
}


/*doc
---
title: Padding
name: paddingModifiers
category: Modifiers
---

Class            | Example
-----------------| -------------------------------------------------------------------------
`padding-left`   | <div class="inline-block guide-shade padding-left">Example div</div>
`padding-right`  | <div class="inline-block guide-shade padding-right">Example div</div>
`padding-top`    | <div class="inline-block guide-shade padding-top">Example div</div>
`padding-bottom` | <div class="inline-block guide-shade padding-bottom">Example div</div>
`padding-all`   | <div class="inline-block guide-shade padding-all">Example div</div>
`papdding-none`  | <div class="inline-block guide-shade padding-none">Example div</div>

*/
.padding-top,
.leading-top {
	padding-top: $spacing;
}
.padding-bottom,
.leading-bottom {
	padding-bottom: $spacing;
}
.leading-left,
.padding-left {
	padding-left: $spacing;
}
.leading-right,
.padding-right {
	padding-right: $spacing;
}
.leading-none,
.padding-none {
	padding: 0 !important;
}
.leading-all,
.padding-all {
	padding: $spacing;
}


/*doc
---
title: Margin
name: marginModifiers
category: Modifiers
---

Class               | Example
--------------------| ---------------------------------------------------------------------
`margin-left`       | <div class="inline-block guide-shade margin-left">Example dif</div>
`margin-right`      | <div class="inline-block guide-shade margin-right">Example dif</div>
`margin-top`        | <div class="inline-block guide-shade margin-top">Example dif</div>
`margin-bottom`     | <div class="inline-block guide-shade margin-bottom">Example div</div>
`margin-all`        | <div class="inline-block guide-shade margin-all">Example div</div>
`margin-none`       | <div class="inline-block guide-shade margin-none">Example div</div>
`margin-centered`   | <div class="span-50 guide-shade margin-centered">Example div</div>

*/
.margin-top {
	margin-top: $spacing;
}
.margin-bottom {
	margin-bottom: $spacing;
}
.margin-left {
	margin-left: $spacing;
}
.margin-right {
	margin-right: $spacing;
}
.margin-none {
	margin: 0 !important;
}
.margin-all{
	margin:$spacing;
}
.margin-centered {
	margin-left: auto;
	margin-right: auto;
}


/*doc
---
title: Flushing Elements
name: flushModifiers
category: Modifiers
---

Removes all margin and padding on an element for a given direction.

Class          | Description
---------------| ----------------------------------------------------
`flush--top`   | Sets `margin` and `padding` to `0` for element top
`flush--right` | Sets `margin` and `padding` to `0` for element right
`flush--bottom`| Sets `margin` and `padding` to `0` for element bottom
`flush--left`  | Sets `margin` and `padding` to `0` for element left
`flush--all`   | Sets `margin` and `padding` to `0` for all sides

*/
@mixin flush($direction) {
	.flush--#{$direction} {
		margin-#{$direction}: 0 !important;
		padding-#{$direction}: 0 !important;
	}
}
@include flush('top');
@include flush('right');
@include flush('bottom');
@include flush('left');
.flush--all {
	margin: 0 !important;
	padding: 0 !important;
}


/*doc
---
title: Text alignment
name: talignModifiers
category: Modifiers
---

Class          | Example
---------------| ----------------------------------------------------
`align-right`  | <p class="align-right">Example paragraph</p>
`align-center` | <p class="align-center">Example paragraph</p>
`align-left`   | <p class="align-left">Example paragraph</p>

*/
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}


/*doc
---
title: Vertical alignment
name: valignModifiers
category: Modifiers
---

Class           | Example
----------------| ----------------------------------------------------
`valign-top`    | <p>example paragraph with an <span class="padding-all small inline-block guide-shade valign-top">inline-block span</span></p>
`valign-middle` | <p>example paragraph with an <span class="padding-all small inline-block guide-shade valign-middle">inline-block span</span></p>
`valign-bottom` | <p>example paragraph with an <span class="padding-all small inline-block guide-shade valign-bottom">inline-block span</span></p>

*/
.valign-top {
	vertical-align: top;
}
.valign-middle {
	vertical-align: middle;
}
.valign-bottom {
	vertical-align: bottom;
}
.valign-text-bottom {
	vertical-align: text-bottom;
}
/* {{{ TODO: deprecate this */
.center-able,
.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* }}} */
/* {{{ TODO: deprecate this */
.img-align-middle{
	vertical-align:middle;
}
/* }}} */


/*doc
---
title: Display
name: displayModifiers
category: Modifiers
---

Class          | Description
---------------| ----------------------------------------------------
`display-none` | Sets `display` property of eleement to `none`
`inline`       | Sets `display` property of element to `inline`
`inline-block` | Sets `display` property of element to `inline-block`
`hidden`       | Sets `visibility` property of element to `hidden`

*/
.display-none {
	display: none;
}
.hidden {
	visibility: hidden;
}
.block {
	display: block;
}
.inline {
	display: inline;
}
.inline-block {
    @include inlineblock();
}


/*doc
---
title: Typography
name: typographyModifiers
category: Modifiers
---

Class          | Example
---------------| ----------------------------------------------------
`muted`        | <p class="muted">Example paragraph</p>
`bold`         | <p class="bold">Example paragraph</p>
`italic`       | <p class="italic">Example paragraph</p>
`caps`         | <p class="caps">Example paragraph</p>
`small`        | <p class="small">Example paragraph</p>
`big`          | <p class="big">Example paragraph</p>

*/
.muted {
	@include color_textTertiary();

	.inverted & {
		@include color_textTertiaryInverted();
	}
}
.muted-opacity{
    // when over something that isn't just a white background
    @include opacity(.8);
}
.bold {
	font-weight: $W_bold;
}
.italic {
    font-style: oblique;
}
.caps {
	text-transform: uppercase;
}
.small, small {
	font-size: $smallFontSize;
	line-height: $smallLineHeight;
}
.big {
    font-size: $bigFontSize;
	 line-height: $bigLineHeight;
}
.opacity-quarter {
    // what is this used for?
	@include opacity(.25);
}

.border-none {
	border-width: 0 !important;
}


/*doc
---
title: Text Wrap
name: textwrapModifiers
category: Modifiers
---


### Wrap Nice
Removed the `word-break: break-all` because it breaks ALL the words, not just
the long ones.
(http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/)

```html_example
	<p class="wrapNice" style="width: 460px;">
		Beef ribs voluptate kevin pork chop pastrami dolore est.
		Spare ribs leberkas cow dolore pork loin reallyLongWordThatWeWantToWrapWhenUsingTheWrapNiceClass
		exercitation dolore shoulder. T-bone capicola corned beef, aliqua quis tri-tip exercitation tenderloin.
	</p>
```


### Ellipsize
Useful for truncating text in fixed or variable-width elements with only enough room
for one line of text.

```html_example
	<p class="ellipsize" style="width: 340px;">
		Beef ribs voluptate kevin pork chop pastrami dolore est.
		Jerky boudin pork loin fatback, corned beef ground round pig shankle pork belly.
	</p>
```


### No wrap
Use `.noWrap` to prevent text from wrapping (can be useful for buttons, tabs, etc.).
Sassquatch also provieds a `.wrap` class for overriding elements that are `no-wrap` by default.

```html_example
	<p class="noWrap" style="width: 340px; outline: 1px solid pink;">
		Beef ribs voluptate kevin pork chop pastrami dolore est.
		Jerky boudin pork loin fatback, corned beef ground round pig shankle pork belly.
	</p>
```

*/
.wrapNice {
 // Because sometimes hyphenations don't get calculated properly...
 word-wrap: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}
.ellipsize{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.noWrap {
    white-space: nowrap;
}
.wrap {
    white-space: normal;
}


/*doc
---
title: Links
name: linkModifiers
category: Modifiers
---

Styles a link as body text color.

```html_example
	<a class="unlink">It's a link, but it doesn't look like one</a>
```

```html_example
	<div class="docBox docSection span-25">
		<a class="unlink">
			<h3>Block level anchors...</h3>
			<p>How do they work?</p>
		</a>
	</div>
```

*/
.unlink,
.unlink:link,
.unlink:visited,
.unlink:hover,
.unlink:active {
	color: $C_textSecondary !important;
	text-decoration: none !important;

	h1,h2,h3,h4,h5,h6 {
		color: $C_textPrimary !important;
	}

	.inverted & {
		color: darken( rgb(255,255,255), 33%) !important;
		color: $C_textSecondaryInverted !important;

		h1,h2,h3,h4,h5,h6 {
			color: $C_textPrimaryInverted !important;
		}
	}
}

/* {{{ Widget helpers (graceful degradation for JS features) */

/*doc
---
title: JS Helpers
name: jsModifiers
category: Modifiers
---

Class                | Description
---------------------| ----------------------------------------------------
`block-if-js`        | Sets `display` property to `block` if user has JS
`inline-if-js`       | Sets `display` property to `inline` if user has JS
`inline-block-if-js` | Sets `display` property to `inline-block` if user has JS
`hide-if-js`         | Sets `display` property to `none` if user has JS

*/
.block-if-js,
.inline-if-js,
.inline-block-if-js,
.hasJS .hide-if-js {
	display: none;
}

.hasJS .block-if-js			{ display: block; }
.hasJS .inline-if-js		{ display: inline; }
.hasJS .inline-block-if-js	{ display: inline-block; }
/* }}} */


@if $platform == "mobile" {
	/* typographic + layout additions {{{ */


/*doc
---
title: Floating
name: floatMobile
category: Layout
---

Mobile Sassquatch includes these classes for floating elements.

```html_example
	<div class="clearfix">
		<div class="left shaded-red">floated left</div>
		<div class="right shaded-red">floated right</div>
	</div>
```

*/
	.left {
		float:left;
	}
	.right {
		float:right;
	}

	// DEPRECATED
	// use "[padding|margin]-[direciton]" classes
	.spaced-right { // rename these spaced classes; not explicit about margin vs. padding
		margin-right:$spacing;
	}
	.spaced-right-slight {
		margin-right:$basePadding;
	}
	.spaced-left {
		margin-left:$spacing;
	}

	// DEPRECATED
	.flush-bottom {
		margin-bottom: 0px !important;
		padding-bottom: 0px !important;
	}

/*doc
---
title: Darkening text
name: darkenModifer
parent: typographyModifiers
---

Darkens text color to match heading color (primary text color)

```html_example
	<h3>I'm a heading, using primary text color</h3>
	<p class="darken">I'm a paragraph, darkened to match the primary text color</p>
```

*/
	.darker {
		color: $C_primaryGray;

		.inverted & {
			color: $C_primaryGrayInverted;
		}
	}

	.light { // TODO: kill this
		color: #444;
	}

/*doc
---
title: Extra small text
name: tinyModifier
parent: typographyModifiers
---

```html_example
	<p class="smaller">I'm extra small, for mobile</p>
```

*/
	.smaller {
		 font-size:.75rem;
	}

/*doc
---
title: Margin gutters
name: gutterModifiers
parent: marginModifiers
---

Mobile Sassquatch provides a gutter helper that uses `margin-right`:

```html_example
	<ul class="inlineblockList">
		<li class="gutter-right guide-shade">Guttered el</li>
		<li class="gutter-right guide-shade">Guttered el</li>
		<li class="gutter-right guide-shade">Guttered el</li>
		<li class="gutter-right guide-shade">Guttered el</li>
	</ul>
```

*/
	.gutter-right {
		margin-right:$spacing/4;
	}


/*doc
---
title: Natural text color
name: neaturalTextModifier
parent: typographyModifiers
---

Sets text color to body text color

```html_example
	<h3 class="natural-text">I'm a heading getting overriden to natural (body) text color</h3>
	<p>I'm a normal paragraph</p>
```

*/
	// this one only lives in mobile land
	// we should deprecate this or document &
	// move it to both platforms
	.natural-text {
		color: $C_text !important;

		.natural-text.light {
			opacity:.7;
		}
	}

	// 'aliases' only exist for mobile
	// we should deprecate these or document &
	// move them to both platforms
    /* aliases */
    .lighter { //muted
        color: $C_text_less;
    }



/*doc
---
title: Line Spacing
name: lineSpacing
cateogry: Modifiers
---

It's best to rely on default typography line heights, but
if you absolutely need to set an explicit line height, these
classes will help:

Class            | Description
-----------------| ------------------------
`double-spaced`  | sets line-height to 1.8
`triple-spaced`  | sets line-height to 2.8

*/
	.double-spaced {
		line-height:1.8;
	}

	.triple-spaced {
		line-height:2.8;
	}
	/* }}} */
}
