/**
* Avatars
*
* (Member photos)
*/

// Avatar base class. Add in a variant!
// media-m size
// -------------------------------
%avatar_base_size {
	width: $media-m;
	height: $media-m;
	font-size: $media-m * 2/3;
}
.avatar {
	@extend %avatar_base_size;
	@include background-size(cover);
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: center 42%;
	background-color: $C_tertiaryGray;
}

.avatar--chapter {
	// nothing special... yet.
}
.avatar--person {
	@include round($media-xl);  // bigger than any acceptable radius
								// => will become circle
}

// Avatar Size Variants
// ---------------------------
.avatar--small {
	width: $media-s;
	height: $media-s;
	font-size: $media-s;
}
.avatar--big {
	width: $media-l;
	height: $media-l;
	font-size: $media-l * 2/3;
}

// Avatar Stacks
// ---------------------------
$stack_frame_thickness: 2px;
$stack_frame_spacing: 1px;
%blockStack {
	// set box-shadow to simulate a stack of elements
	box-shadow: $stack_frame_spacing $stack_frame_spacing								0 $C_backgroundContent,
				$stack_frame_spacing+$stack_frame_thickness $stack_frame_spacing+$stack_frame_thickness			0 $C_tertiaryGray,
				$stack_frame_spacing*2+$stack_frame_thickness $stack_frame_spacing*2+$stack_frame_thickness		0 $C_backgroundContent,
				($stack_frame_spacing+$stack_frame_thickness)*2 ($stack_frame_spacing+$stack_frame_thickness)*2 0 $C_tertiaryGray;
}
.avatar--stack {
	@extend %blockStack;
	margin-right: $stack_frame_spacing + $stack_frame_thickness;
}

// Avatar Badges
// ---------------------------
%avatarBadge {
	overflow: visible;
	position: relative;
	text-indent: 0;
	&:before {
		@include color_textPrimaryInverted('border-color');
		@include color_textPrimaryInverted;
		@include color_accent('background-color');
		@include round(100%);
		font-size: 14px;
		position: absolute;
		border-style: solid;
		border-width: 2px;
		bottom: -0.45em;
		right: -0.45em;
		display: block;
		height: 1.45em;
		width: 1.45em;
		text-align: center;
		font-family: 'RedLabel';
		font-weight: normal !important;
		font-style: normal !important;
		-webkit-font-smoothing: antialiased;
		text-decoration: none !important;
		line-height: 1.45em;
		vertical-align: -0.125em;
	}
}
.avatarBadge--leadTeam {
	@extend %avatarBadge;
	&:before {
		content: "\E0AF";
	}
	&:after {
		content: "Lead Team Member";
		font: 0/0 a !important;
		color: transparent;
		text-shadow: none;
		display: block;
		height: 0;
		width: 1px;
	}
}
