/**
* Avatars
*
* (Member photos)
*/

// Avatar base class. Add in a variant!
// media-m size
// -------------------------------
%avatar_base_size {
	width: $media-m;
	height: $media-m;
	font-size: $media-m * 2/3;
}
.avatar {
	@extend %avatar_base_size;
	@include background-size(cover);
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: center 42%;
	background-color: $C_tertiaryGray;
}

.avatar--chapter {
	// nothing special... yet.
}
.avatar--person {
	@include round($media-xl);  // bigger than any acceptable radius
								// => will become circle
}

// Avatar Size Variants
// ---------------------------
.avatar--small {
	width: $media-s;
	height: $media-s;
	font-size: $media-s;
}
.avatar--big {
	width: $media-l;
	height: $media-l;
	font-size: $media-l * 2/3;
}

.avatar--stack {
	@extend %blockStack;
}
