/*doc
---
title: Card Grid
name: cardGrid
category: Content Patterns
---

For a grid-like collection of items.

```html_example
	<ul class="cardGrid cardGrid--3col">
		<li>
			<div class="docBox">
				<div class="docSection">
					<h4>I'm a card</h4>
					<p>I can contain any kind of content</p>
				</div>
			</div>
		</li>
		<li>
			<div class="docBox">
				<div class="docSection">
					<h4>I'm a card</h4>
					<p>I can contain any kind of content</p>
				</div>
			</div>
		</li>
		<li>
			<div class="docBox">
				<div class="docSection">
					<h4>I'm a card</h4>
					<p>I can contain any kind of content</p>
				</div>
			</div>
		</li>
		<li>
			<div class="docBox">
				<div class="docSection">
					<h4>I'm a card</h4>
					<p>I can contain any kind of content</p>
				</div>
			</div>
		</li>
	</ul>
```

### Column Modifiers

You can set the default number of columns from 1 to
6 with a variant class:

Class                       | Description
----------------------------| ------------------------
`cardGrid cardGrid--1col`   | single column of cards
`cardGrid cardGrid--2col`   | two columns of cards
`cardGrid cardGrid--3col`   | three columns of cards
`cardGrid cardGrid--4col`   | you get the idea


### Media Query Modifiers

cardGrid also supports media query column modifiers. You can declare
a sepcific number of columns for:

- 1-6 columns at the "medium" breakpoint
- 1-6 columns at the "small" breakpoint

#### Examples:

Example                                                   | Description
----------------------------------------------------------| --------------------------------------
`cardGrid at_small--1col`                                 | snap to 1 column at "small" breakpoint
`cardGrid at_medium--3col`                                | snap to 3 columns at "medium" breakpoint
`cardGrid cardGrid--6col at_medium--3col at_small--1col`  | 6 columns by default, 3 columns at medium, 1 column at small

*/

$columns: 6, 5, 4, 3, 2, 1;


.cardGrid {
	@include box-sizing();
	font-size: 0; //whitespace hack
	margin: 0 #{-($spacing)} 0 0;
	padding: 0;
	list-style: none;

	li {
		@include box-sizing();
		font-size: $baseFontSize; //reset font size from whitespace hack
		vertical-align: top;
		display: inline-block;
		width: 50%;
		padding: 0 $spacing 0 0;
		margin: 0;
	}
}

// explicit column variants
@each $n in $columns {
	.cardGrid--#{$n}col li {
		width: percentage(1/$n);
	}
}

// at-media variants (medium)
@include respond-to(medium) {
	@each $n in $columns {
		.at_medium--#{$n}col li {
			width: percentage(1/$n);
		}
	}
}

// at-media variants (small)
@include respond-to(small) {
	@each $n in $columns {
		.at_small--#{$n}col li {
			width: percentage(1/$n);
		}
	}
}
