/*doc
---
title: Tile Grid
name: tileGrid
category: Content Patterns
---

For a grid-like collection of items. You can control the number of columns 
with class modifiers. By default, tile content is vertical aligned top. For
equal height tiles, you must set a min-height in page-specific CSS.

This type of collection view is best placed over a background of `$C_backgroundCollection`.

```html_example
	<ul class="tileGrid tileGrid--2col tileGrid_atMedium--1col">
		<li class="tileGrid-tile">
			<div class="docBox">
				<div class="docSection">
					<h4>I'm a tile with a doxBox</h4>
					<p>Doner boudin meatloaf biltong, landjaeger sausage short ribs. Pig brisket ham hock, frankfurter pastrami ribeye short loin leberkas hamburger. Boudin bacon brisket, beef ribs short loin pork venison.</p>
				</div>
			</div>
		</li>
		<li class="tileGrid-tile">
			<div class="docBox">
				<div class="docSection">
					<div class="figureset">
						<div class="figureset-figure">
							<time class="tearsheet--big">
								<span class="month">Oct</span>
								<span class="day">15</span>
							</time>
						</div>
						<div class="figureset-description">
							<h4>Here's something else</h4>
							<p>This tile has a tearsheet</p>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="tileGrid-tile">
			<div class="docBox">
				<div class="docSection">
					<p>This one has an image</p>
				</div>
				<img class="display-block" src="http://placekitten.com/200/60" style="width: 100%; display: block;" />
				<div class="docSection">
					<p class="muted small">It also contains multiple docSection elements</p>
				</div>
			</div>
		</li>
		<li class="tileGrid-tile">
			<img src="http://placekitten.com/200/100" style="width: 100%; display: block;" />
		</li>
	</ul>
```

### Column Modifiers

You can set the default number of columns from 1 to
6 with a variant class:

Class                       | Description
----------------------------| ------------------------
`tileGrid tileGrid--1col`   | single column of cards
`tileGrid tileGrid--2col`   | two columns of cards
`tileGrid tileGrid--3col`   | three columns of cards
`tileGrid tileGrid--4col`   | you get the idea


### Media Query Modifiers

tileGrid also supports media query column modifiers. You can declare
a specific number of columns for:

- 1-6 columns at the "medium" breakpoint
- 1-6 columns at the "small" breakpoint

#### Examples:

Example                                                                  | Description
-------------------------------------------------------------------------| --------------------------------------
`tileGrid tileGrid_atSmall--1col`                                        | snap to 1 column at "small" breakpoint
`tileGrid tileGrid_atMedium--3col`                                       | snap to 3 columns at "medium" breakpoint
`tileGrid tileGrid--6col tileGrid_atMedium--3col tilegrid_atSmall--1col` | 6 columns by default, 3 columns at medium, 1 column at small

*/

$columns: 6, 5, 4, 3, 2, 1;


.tileGrid {
	@include box-sizing();
	font-size: 0; //whitespace hack
	margin: 0 #{-($spacing)} 0 0;
	padding: 0;
	list-style: none;

	.tileGrid-tile {
		@include box-sizing();
		font-size: $baseFontSize; //reset font size from whitespace hack
		vertical-align: top;
		display: inline-block;
		width: 50%;
		padding: 0 $spacing 0 0;
		margin: 0;
	}
}

// explicit column variants
@each $n in $columns {
	.tileGrid--#{$n}col .tileGrid-tile {
		width: percentage(1/$n);
	}
}

// at-media variants (medium)
@include atMedia(medium) {
	@each $n in $columns {
		.tileGrid_atMedium--#{$n}col .tileGrid-tile {
			width: percentage(1/$n);
		}
	}
}

// at-media variants (small)
@include atMedia(small) {
	@each $n in $columns {
		.tileGrid_atSmall--#{$n}col .tileGrid-tile {
			width: percentage(1/$n);
		}
	}
}
