.datetime-block {
	font-family: $headingFontStack;  // remove this when body changes from verdana
	// pattern for date+time block, as an alternative to tearsheets
	// lends itself well to button styling
	$border: $C_gray;
	$darkenedBorder: darken($C_gray, 10%);

	@extend .clearfix;
	color: $C_darkgray_lightest;
	font-size: 13px;
	line-height: 1.3;
	position: relative;
	border: 1px solid $border;
	padding: $spacing*0.75 $spacing/2 $spacing/2;
	margin: $spacing / 2;
	&:hover {
		border-color: $darkenedBorder;
		.icon-calendar {
			color: $C_red;
		}
		.double-line {
			border-color: $darkenedBorder;
		}
	}
	.icon-calendar {
		float: left;
		font-size: 32px;  // red-label calendar icon is pixel-perfect at 32px
		padding: 0 5px 0 0;
		color: $C_gray;
	}
	.forward-ribbon {
		$wrap-space: 4px;
		font-size: 8px;
		position: relative;
		padding: 2px 7px 3px;
		border-radius: 2px 0 0 2px;
		background-color: $C_red;
		color: white;
		position: absolute;
		bottom: $spacing;
		right: -($wrap-space + 1px); // 1px block border
		&:after {
			// ribbon tail - triangle made from css border
			content: '';
			position: absolute;
			right: 0;
			bottom: -$wrap-space;
			width: 0;
			height: 0;
			border: $wrap-space / 2 solid darken($C_red, 15%);
			border-right-color: transparent;
			border-bottom-color: transparent;
		}
	}
	.double-line {
		// decorative bottom that simulates a 'stack' of divs
		position: absolute;
		bottom: 0;
		left: 0;
		color: $C_gray;
		width: 100%;
	}
}
.datetime-value {
	text-align: left;
	float: left;
}
.datetime-date {
	color: $C_red;
	font-weight: bold;
	font-size: 1.15em;
}
.datetime-time {
	font-size: 0.9em;
	sup {
		border-bottom: 1px solid;
		font-size: .7em;
		top: -0.35em;
		left: 0.05em;
		padding-bottom: 0.04em;
	}
}
