/*doc
---
title: Nav Buttons
name: navButtons
category: Navigation
---

Using a list of `<a>` elements; for toggling/filtering controls.

#### Default display
```html_example
	<ul class="nav-buttons">
		<li><a href="#">Date Joined</a></li>
		<li><a href="#" class="selected">Size</a></li>
		<li><a href="#">Name</a></li>
		<li><a href="#">Role</a></li>
	</ul>
```

#### Vertical variant
With `nav-buttons--column` variant class:
```html_example
	<ul class="nav-buttons nav-buttons--column">
		<li><a href="#">Date Joined</a></li>
		<li><a href="#" class="selected">Size</a></li>
		<li><a href="#">Name</a></li>
		<li><a href="#">Role</a></li>
	</ul>
```
*/

.nav-buttons {
	@include inlineblock;
	border-radius: $defaultRadius;
	@include experimental(box-sizing, border-box);
	@include experimental(background-clip, padding-box);
	@extend %clearfix;
	list-style-type: none;
	margin-bottom: $spacing;
	padding-left: 0;
	line-height: 1.5;
	border: 1px solid $C_border;
	text-align: left;
	font-size: 0; // reset whitespace for inline-block list items


	/*****************************
	 * STRUCTURE
	 ****************************/
	li, label {
		padding-top: 0;
		display: inline-block;
		text-align: center;
	}

	label,
	li > a,
	li > span {
		@include button_personality;
		font-family: $uiControlFontStack;
		font-size: $font-size-small;
		font-weight: $W_normal;
		padding: 0.5em 1.2em 0.4em;
		display: block;
	}

	label:first-of-type,
	li:first-child > a,
	li:first-child > span {
		border-top-left-radius: $defaultRadius - 1px;
		border-bottom-left-radius: $defaultRadius - 1px;
	}

	label:last-of-type,
	li:last-child > a,
	li:last-child > span {
		border-top-right-radius: $defaultRadius - 1px;
		border-bottom-right-radius: $defaultRadius - 1px;
	}

	&.vertical{
		display: block;

		li, label {
			display: block;
			float: none;
			text-align: left;
		}
	}


	/*****************************
	 * COLOR NORMAL
	 ****************************/
	$highlight: rgba(255,255,255,.2) 1px 1px 0 0 inset;
	$shadow_e: rgba(0,0,0,.1) -1px 0 0 0 inset;
	$shadow_s: rgba(0,0,0,.1) 0 -1px 0 0 inset;

	label,
	li > a,
	li > span {
		@extend %button_personality;
		@include button_color(#fff, true);
		@include experimental(box-shadow, '#{$highlight}, #{$shadow_e}');
		color: $C_textPrimary;
		border: none;
	}

	label:last-of-type,
	li:last-child > a,
	li:last-child > span {
		@include experimental(box-shadow, '#{$highlight}');
	}
	&.vertical{
		label,
		li > a,
		li > span{
			@include experimental(box-shadow, '#{$highlight}, #{$shadow_s}');
		}

		label:last-of-type,
		li:last-child > a,
		li:last-child > span {
			@include experimental(box-shadow, '#{$highlight}');
		}
	}

	/*****************************
	 * COLOR SELECTED ITEM
	 ****************************/

	input[type=radio]:checked + label, input[attr="checked"] + label {
		@include button_color_active(#fff, true);
	}


	/*******************************
	 * RADIO-BUTTON-ONLY SELECTORS *
	 *******************************/

	input[type=radio] {
		display: none;
	}

	label {
		margin: 0;
	}

	&.equal-width {
		display: table;
		table-layout: fixed;
		width: 99.8%;

		&:after {
			display: none;
		}

		> label, > a, > li {
			float: none;
			display: table-cell;
		}
	}
}


//
// OVERRIDES for release/2.0.0
// this is a bit of a hack...
// introduces some color changes without creating breaking changes
.nav-buttons {
	border: 1px solid $C_border;

	.selected {
		background: $C_highlight;
	}

	li:first-child>a.selected,
	li>a.selected,
	li:first-child>span.selected,
	li>span.selected,
	li.selected>a,
	li.selected>span {
		background-color: $C_highlight !important;
		color: $C_link !important;
		font-weight: $W_bold;
	}
}

.nav-buttons label, .nav-buttons li>a, .nav-buttons li>span, .segmented-control-button {
		background: initial;
		color: $C_textPrimary;
	&:hover {
		background: $C_highlight;
	}
}

.nav-buttons li>a:active,
#simple-event-filter span:active {
	 background: $C_highlight !important;
}

.nav-buttons--column {
	li, label {
		display: block;
		border-bottom: 1px solid $C_border;
		&:last-child {
			border-bottom: 0;
		}
	}
}
