/*doc
---
title: Pagination
name: pagination
category: Navigation
---


```html_example
	<ul class="nav-pagination">
		<!-- ideally, you'd use an icon font for the arrows -->
		<li class="nav-pageitem">
			<a rel="prev" class="nav-prev" href="#">&larr;</a>
		</li>
		<li class="nav-pageitem">
			<a href="#">1</a>
		</li>
		<li class="nav-pageitem selected">
			<a href="#">2</a>
		</li>
		<!-- snip -->
		<li class="nav-pageitem">
			<a href="#">8</a>
		</li>
		<li class="nav-pageitem">
			<a href="#">9</a>
		</li>
		<li class="nav-pageitem">
			<a rel="next" class="nav-next" href="#">&rarr;</a>
		</li>
	</ul>
```

*/

.nav-pagination {
	@extend %clearfix;
	@extend %numerialFont;
	font-size: 15px;
	list-style-type: none;
	margin-bottom: $spacing;
	padding: 0;
	a, .nav-button {  // should deprecate the class-free a styling and enforce a.nav-pagelink. cleanup
		border: 1px solid $C_border;
		border-left-width: 0;
		padding: 0.4em 0;
		width: 2.6em;
		text-align: center;
		display: block;
		background-color: white;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
		&:hover {
			background-color: $C_lightGray;
			text-decoration: none;
		}
		&.disabled {
			color: $C_lightGray;
			&:hover {
				background-color: white;
			}
		}
	}
	li, .nav-pageitem {  // should deprecate the class-free li styling and enforce li.nav-pageitem. cleanup
		float: left;
		padding: 0;
		&:first-child a {
			border-left-width: 1px;
			border-top-left-radius: $defaultRadius;
			border-bottom-left-radius: $defaultRadius;
		}
		&:last-child a {
			border-top-right-radius: $defaultRadius;
			border-bottom-right-radius: $defaultRadius;
		}
		&.selected a {
			background: $C_purple;
			color: $C_textPrimaryInverted;
		}
	}
}
