/*doc
---
title: Pill Labels
name: pillLabels
category: Content Patterns
---

Standard labels for member titles and/or status. Using an inline tag like `<span>` is recommended.

```html_example
	<span class="pill-label--leader">Organizer</span>
```

### Label Types

Class                  | Example
-----------------------| -----------------------------------------------
`pill-label`           | <span class="pill-label">Generic label</span>
`pill-label--hollow`   | <span class="pill-label--hollow">Generic hollow label</span>
`pill-label--friend`   | <span class="pill-label--friend">Friend indicator</span>
`pill-label--leader`   | <span class="pill-label--leader">Role indicator</span>
`pill-label--paid`     | <span class="pill-label--paid">Dues paid indicator</span>
`pill-label--unpaid`   | <span class="pill-label--unpaid">Dues unpaid indicator</span>

*/

@import "../util/pillLabelFactory.scss";

// Generic pill label
// ---------------------------
%pill-label,
.pill-label {
	@include solid_pill();
}

// Generic pill label (hollow)
// ---------------------------
%pill-label--hollow,
.pill-label--hollow {
	@include hollow_pill();
}

// FB FRIEND pill label
// ---------------------------
.pill-label--friend {
	@include solid_pill( $bgColor: lighten($C_facebook, 45%), $textColor: $C_facebook );
}

// ORG pill label
// ---------------------------
.pill-label--leader {
	@include solid_pill( $C_red );
}

// DUES PAID pill label
// ---------------------------
.pill-label--paid {
	@include hollow_pill( $C_green );
}

// DUES UNPAID pill label
// ---------------------------
.pill-label--unpaid {
	@include hollow_pill( $C_red );
}

// Text only - no shape, no colors
// ---------------------------
.pill-label--text {
	@extend %_pill_text_base;
}
