/*doc
---
title: RSVP Tags
name: tag
category: Content Patterns
---
Status tags for RSVP.

_&#x26a0; The icons below are placeholders &#x26a0;_<br />
Please use the appropriate SVG icon for each rsvpStatus variant.

```html_example
<div class="chunk">
	<div class="rsvpStatus rsvpStatus--yes">
		<span class="rsvpStatus-label">Yes</span>
		<span class="rsvpStatus-icon">
			&#x2713;
		</span>
	</div>
</div>

<div class="chunk">
	<div class="rsvpStatus rsvpStatus--no">
		<span class="rsvpStatus-label">No</span>
		<span class="rsvpStatus-icon">
			&#x2713;
		</span>
	</div>
</div>

<div class="chunk">
	<div class="rsvpStatus rsvpStatus--waiting">
		<span class="rsvpStatus-label">Waiting</span>
		<span class="rsvpStatus-icon">
			&#x2713;
		</span>
	</div>
</div>
```

## Variants
A class of `rsvpStatus` is __required__.
Variant classes:

Class                | Description
-------------------- | --------------------------
`rsvpStatus--yes`       | indicates "yes" RSVP status
`rsvpStatus--no`        | indicates "no" RSVP status
`rsvpStatus--waiting`   | indicates waitlist RSVP status
*/

.rsvpStatus {
	display: block;
	text-align: right;
}

.rsvpStatus--yes {
	color: $C_success;
	.rsvpStatus-icon {
		background-color: $C_success;
	}
}

.rsvpStatus--no {
	color: $C_textTertiary;
	.rsvpStatus-icon {
		background-color: $C_textTertiary;
	}
}

.rsvpStatus--waiting {
	color: $C_success;
	.rsvpStatus-icon {
		background-color: $C_success;
	}
}

.rsvpStatus-label,
.rsvpStatus-icon {
	vertical-align: middle;
}

.rsvpStatus-label {
	@include transform(translateY(0.1em));
	font-weight: $W_medium;
	font-size: $font-size-small;
	padding-right: $baseline/4;
	display: inline-block;
}

.rsvpStatus-icon {
	@include color-all($C_textPrimaryInverted);
	height: 24px;
	width: 24px;
	border-radius: 100px;
}

.rsvpStatus .rsvpStatus-icon { // override any default `display` property with specificity
	@include display(inline-flex);
	@include justify-content(center);
	@include align-items(center);
}

