/*doc
---
title: Tab Control
name: tabControl
category: Navigation
---

### Horizontal tabs
```html_example
	<ul class="tabControl">
		<li class="tabControl-tab"><a href="#">Upcoming Meetups</a></li>
		<li class="tabControl-tab"><a href="#">Past Meetups</a></li>
		<li class="tabControl-tab tabControl-tab--selected"><a href="#">Selected tab</a></li>
	</ul>
	<div class="docSection" style="min-height: 200px;">
		<p>Look at this tab conent. Just look at it.</p>
	</div>
```

### Left side tabs
```html_example
	<ul class="tabControl tabControl--left">
		<li class="tabControl-tab"><a href="#">Upcoming Meetups</a></li>
		<li class="tabControl-tab"><a href="#">Past Meetups</a></li>
		<li class="tabControl-tab tabControl-tab--selected"><a href="#">Selected tab</a></li>
	</ul>
```

### Right side tabs
```html_example
	<ul class="tabControl tabControl--right">
		<li class="tabControl-tab"><a href="#">Upcoming Meetups</a></li>
		<li class="tabControl-tab"><a href="#">Past Meetups</a></li>
		<li class="tabControl-tab tabControl-tab--selected"><a href="#">Selected tab</a></li>
	</ul>
```

*/

$selectedStripeWidth: 4px;


// base UL class
// -------------------
.tabControl {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: $C_red;
}


// base LI class
// -------------------
.tabControl-tab {
	display: inline-block;
	a {
		@extend %button_personality;
		@include color_textSecondary();
		padding: $baseline/3 $baseline/2;
		display: block;
		text-decoration: none;

		&:hover {
			color: $C_red;
		}
	}

	.inverted & a {
		@include color_textSecondaryInverted();
		&:hover {
			color: #fff;
		}
	}
}


// LI selected state
// -------------------
.tabControl-tab--selected {
	border-color: $C_red; /* separate property for easy override in .inverted context */
	border-style: solid;
	border-width: 0;
	border-bottom-width: $selectedStripeWidth;
	a {
		color: $C_red;
	}

	.inverted & {
		border-color: #fff;
		a {
			color: #fff;
		}
	}
}



// UL "left" variant
// -------------------
.tabControl--left {
	.tabControl-tab {
		display: block;
		text-align: right;
	}
	.tabControl-tab--selected {
		border-width: 0; // reset all borders
		border-right-width: $selectedStripeWidth;
	}
}


// UL "right" variant
// -------------------
.tabControl--right {
	.tabControl-tab {
		display: block;
		text-align: left;
	}
	.tabControl-tab--selected {
		border-width: 0; // reset all borders
		border-left-width: $selectedStripeWidth;
	}
}
