/*doc
---
title: Tab Control
name: tabControl
category: Navigation
---

### Horizontal tabs
```html_example
	<ul class="tabControl">
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Upcoming Meetups</a></li>
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Past Meetups</a></li>
		<li class="tabControl-tab tabControl-tab--selected"><a class="tabControl-link" href="#">Selected tab</a></li>
	</ul>
	<div class="docSection" style="min-height: 180px;">
		<p>Look at this tab conent. Just look at it.</p>
	</div>
```

### Left side tabs
```html_example
	<ul class="tabControl tabControl--left">
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Upcoming Meetups</a></li>
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Past Meetups</a></li>
		<li class="tabControl-tab tabControl-tab--selected"><a class="tabControl-link" href="#">Selected tab</a></li>
	</ul>
```

### Right side tabs
```html_example
	<ul class="tabControl tabControl--right">
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Upcoming Meetups</a></li>
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Past Meetups</a></li>
		<li class="tabControl-tab tabControl-tab--selected"><a class="tabControl-link" href="#">Selected tab</a></li>
	</ul>
```

*/

$_tabBorder: 4px;


// base UL class
// -------------------
.tabControl {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}


// base LI class
// -------------------
.tabControl-tab {
	display: inline-block;
	margin: 0 0 0 $font-size;

	&:first-child {
		margin-left: 0;
	}
}

// base A class
// -------------------
.tabControl-link {
	@extend %button_personality;
	display: block;
	padding: 0;

	&,
	&:link,
	&:visited {
		color: $C_textSecondary;
	}

	&:hover,
	&:active {
		color: $C_link;
	}

	.inverted & {
		&:link,
		&:visited {
			color: $C_textSecondaryInverted;
		}
		&:hover,
		&:visited {
			color: $C_linkInverted;
		}
	}
}

// LI selected state
// -------------------
.tabControl-tab--selected {

	.tabControl-link {
		color: $C_link;
		font-weight: $W_medium;
		border-bottom: $_tabBorder solid $C_link;
	}
}



// UL "left" variant
// -------------------
.tabControl--left {
	.tabControl-tab {
		display: block;
		text-align: right;
	}
	.tabControl-tab {
		margin-bottom: $font-size;
		padding-right: 0;
		margin-right: 0;
	}
	.tabControl-link {
		border-bottom-width: 0;
	}
	.tabControl-tab--selected .tabControl-link {
		padding-right: $baseline/2;
		border-right: $_tabBorder solid $C_link;
	}
}


// UL "right" variant
// -------------------
.tabControl--right {
	.tabControl-tab {
		display: block;
		text-align: left;
	}
	.tabControl-tab {
		margin-bottom: $font-size;
		padding-left: 0;
		margin-left: 0;
	}
	.tabControl-link {
		border-bottom-width: 0;
	}
	.tabControl-tab--selected .tabControl-link {
		padding-left: $baseline/2;
		border-left: $_tabBorder solid $C_link;
	}
}
