/*doc
---
title: Tab Control
name: tabControl
category: Navigation
---

### Horizontal tabs
```html_example
	<ul class="tabControl">
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Upcoming Meetups</a></li>
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Past Meetups</a></li>
		<li class="tabControl-tab tabControl-tab--selected"><a class="tabControl-link" href="#">Selected tab</a></li>
	</ul>
	<div class="docSection" style="min-height: 180px;">
		<p>Look at this tab conent. Just look at it.</p>
	</div>
```

### Left side tabs
```html_example
	<ul class="tabControl tabControl--left">
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Upcoming Meetups</a></li>
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Past Meetups</a></li>
		<li class="tabControl-tab tabControl-tab--selected"><a class="tabControl-link" href="#">Selected tab</a></li>
	</ul>
```

### Right side tabs
```html_example
	<ul class="tabControl tabControl--right">
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Upcoming Meetups</a></li>
		<li class="tabControl-tab"><a class="tabControl-link" href="#">Past Meetups</a></li>
		<li class="tabControl-tab tabControl-tab--selected"><a class="tabControl-link" href="#">Selected tab</a></li>
	</ul>
```

*/

$selectedStripeWidth: 4px;


// base UL class
// -------------------
.tabControl {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: $C_red;
}


// base LI class
// -------------------
.tabControl-tab {
	display: inline-block;
}

// base A class
// -------------------
.tabControl-link {
	@extend %button_personality;
	padding: $baseline/3 $baseline/2;
	display: block;
	text-decoration: none;

	&:link,
	&:visited {
		@include color_textSecondary();
	}

	&:hover,
	&:active {
		color: $C_red;
	}

	.inverted & {
		&:link,
		&:visited {
			@include color_textSecondaryInverted();
		}
		&:hover,
		&:visited {
			color: #fff;
		}
	}
}

// LI selected state
// -------------------
.tabControl-tab--selected {
	border-color: $C_red; /* separate property for easy override in .inverted context */
	border-style: solid;
	border-width: 0;
	border-bottom-width: $selectedStripeWidth;

	.tabControl-link {
		color: $C_red;
	}

	.inverted & {
		border-color: #fff;
		.tabControl-link {
			color: #fff;
		}
	}
}



// UL "left" variant
// -------------------
.tabControl--left {
	.tabControl-tab {
		display: block;
		text-align: right;
	}
	.tabControl-tab--selected {
		border-width: 0 $selectedStripeWidth 0 0;
	}
}


// UL "right" variant
// -------------------
.tabControl--right {
	.tabControl-tab {
		display: block;
		text-align: left;
	}
	.tabControl-tab--selected {
		border-width: 0 0 0 $selectedStripeWidth;
	}
}
