/*doc
---
title: Tearsheet
name: tearsheet
category: Content Patterns
---

Tearsheets act as a universal companion icon to upcoming Meetups. 
They contain the date of the event, but should never be relied on 
as the only conveyance of the event date.

```html_example
	<time class="tearsheet">
		<span class="day">15</span>
		<span class="month">Oct</span>
	</time>
```

*/
.tearsheet,
.tearsheet--small,
.tearsheet--big {
	display: inline-block;
	text-align: center;

	.month,
	.day {
		display: block;
	}

	.month {
		@extend %text--label;
		text-transform: uppercase;
	}
	.day {
		font-size: $font-size-tearsheet;
		font-weight: $W_bold;
		line-height: 1;
	}
}
