/* Tearsheets

Tearsheets are basically date displays that look like daily calendar tearsheets

The styles here provide a few different sizes (see the @includes at the bottom),
as well as a few different states/types:
	- .tearsheet-disabled: greyed-out state
	- .tearsheet-add: tearsheet designed as a button prompting user to
		click and enter their own date
	- .tearsheet-expandable: instead of the fixed-height default, an
		expandable tearsheet has height: auto;

*/

/**
* Tearsheet utils
* extends and mixins for creating a
* tearsheet class for a given px size
*/

%tearsheet-interior {
	display: block;
	border: 1px solid $C_line;
	font-weight: $W_bold;
	color: $C_text !important; /* ignore link colors, theme */
}
%tearsheet {
	$header_color: $C_buttonPrimary;  // this could be themed...
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin-bottom: $spacing;
	&.tearsheet-expandable {
		// nested selector to deal with height override
		height: auto;
	}
	.month{
		background-color: $header_color;
		display: block;
		color: white;
	}
	.day{
		@extend %tearsheet-interior;
		@extend %numerialFont;
		border-width: 0 1px 1px;
	}
	.day-of-week {
		@extend %tearsheet-interior;
		@extend %numerialFont;
		border-width: 0 1px;
		font-size: 11px;
		margin-bottom: -0.8em;
		padding-top: .4em;
		height: 1.4em;
		line-height: 1.2;
	}
}

@mixin tearsheet($size: 40){
	$size-px: $size * 1px;
	.tearsheet-#{$size} {
		@extend %tearsheet;
		width: $size-px;
		height: $size-px;
		.month{
			font-size: round( $size * 1.4/5 ) * 1px;
			height: $size * 2/5 * 1px;
			line-height: $size * 0.45 * 1px;
		}
		.day{
			line-height: $size * 3/5 * 1px;
			font-size: $size * 2/5 * 1px;
		}
	}
}

@if $platform == "desktop" {

	@include tearsheet(25);
	@include tearsheet(30);
	@include tearsheet(40);
	@include tearsheet(80);
	.tearsheet {
		@extend .tearsheet-40
	}
}
