/* Indicators
	Author: MikeM, Nov 2012
	-------------------------------------------------------------
	the little arrow thingies that stick out of containers to point to something
	else, or point to themselves (e.g. active nav item)

	@params
	---
	$direction
	- which direction the indicator points
	- default 'up'
	$size
	- in px, this will be half the width of the indicator's base
	- default '10px'
	$offset-[side] (required - no default)
	- must specify where the indicator is absolute positioned using, any CSS size unit acceptable
*/

@mixin ui-indicator(
		$direction: up, // up, right, down, left
		$size: 10px,
		$color: black,
		$position: top, // top, right, bottom, left
		$offset-top: false,
		$offset-right: false,
		$offset-bottom: false,
		$offset-left: false
		) {
	$arrow_pointing_toward: $direction;
	@if $direction == 'up' {
		$arrow_pointing_toward: 'top';
	} @else if $direction == 'down' {
		$arrow_pointing_toward: 'bottom';
	}

	position: relative;  // must set parent element to relative positioning to ensure indicator is placed correctly

	&:after {
		content: '';
		display: block;
		border: $size solid $color;
		@if $arrow_pointing_toward == top or $arrow_pointing_toward == bottom {
			border-left-color: transparent;
			border-right-color: transparent;
		} @else {
			border-top-color: transparent;
			border-bottom-color: transparent;
		}
		border-#{$arrow_pointing_toward}-width: 0;

		@if $position {
			position: absolute;
			@if $position == top {
				@if $arrow_pointing_toward == top {
					top: -($size);
				} @else {
					top: 0;
				}

			}
			@if $position == right {
				@if $arrow_pointing_toward == right {
					right: -($size);
				} @else {
					right: 0;
				}

			}
			@if $position == bottom {
				@if $arrow_pointing_toward == bottom {
					bottom: -($size);
				} @else {
					bottom: 0;
				}
			}
			@if $position == left {
				@if $arrow_pointing_toward == left {
					left: -($size);
				} @else {
					left: 0;
				}
			}
		}

		@if $offset-top {
			top: $offset-top;
			margin-top: -$size/2;
		}
		@if $offset-left {
			left: $offset-left;
			margin-left: -$size/2;
		}
		@if $offset-right and not $offset-left {  // will refer to $offset-left ONLY if both are set {
			right: $offset-right;
			margin-right: -$size/2;
		}
		@if $offset-bottom and not $offset-top {  // will refer to $offset-top ONLY if both are set
			bottom: $offset-bottom;
			margin-bottom: -$size/2;
		}

	}
}
