/**
 *	  @file   _new_parameters
 *
 *	  @description
 *
 *	  Temporary holding place for new parameters for mobile layout.
 */


/*  ======================================================================= */
/*  PARAMETERS  */

/* $Z_ : Z Indices */
/* ... */


/* $P_ : Padding */
$P_touchListItem:	0.625em;	/* 10/16 */
$P_figuresetGap:	0.625em;	/* 10/16 */
$P_textInput:		0.625em;	/* 10/16 */


/* $W_, $H_ : Height and Width */
$W_mobileCursor:		4px;	/* For iOS/Samsung: Hard coded because fixed width */
$W_pseudoradio:		1.375em;	/* 22/16 */
$W_gem:				1.375em;	/* 22/16 */
$W_inlineBlockConstant:	4px;

$H_pseudoradio:		1.375em;	/* 22/16 */
$H_touchTargetDefault:	3em;	/* 48/16 */
$H_touchTargetMinimum:	2em;	/* 32/16 */
$H_gem:					2em;	/* 32/16 */


/* $FS_ : Font Size */
$FS_header:         1.250em;    /* 20/16 */
$FS_base:           1.0625em;   /* 17/16 */
$FS_small:          0.8125em;   /* 13/16 */

$FS_subheader:		1.125em;	/* 18/16 */
$FS_label:			1.000em;	/* 16/16 */
$FS_text:			0.875em;	/* 14/16 */
$FS_caption:		0.750em;	/* 12/16 */

/*  Equivalent dummy values for a 1em = 16px browser baseline */
/*  We probably shouldn't go smaller than 12px because running text and labels
 *  become difficult to read/grainy on small, low resolution displays */


/* $LH_ : Line heights */
$LH_condensed:		1.125;	/* 16/18 */
$LH_standard:		1.250;	/* 16/20 */
$LH_expanded:		1.375;	/* 16/22 */
$LH_tall:			1.500;	/* 16/24 */

/*  $C_ : Colors  */
$C_gray00: black;		/* #000							*/
$C_gray20: hsl(0,0,20);	/* #333	 == $C_darkgray			*/
$C_gray40: hsl(0,0,40);	/* #666	 ≈≈ $C_darkgray_lighter	*/
$C_gray60: hsl(0,0,60);	/* #999							*/
$C_gray70: hsl(0,0,70);	/* #b3b3b3						*/
$C_gray80: hsl(0,0,80);	/* #ccc							*/
$C_gray90: hsl(0,0,90);	/* #e5e5e5						*/
$C_gray94: hsl(0,0,94);	/* #f0f0f0  ≈≈ $C_gray_lighter	*/
$C_gray96: hsl(0,0,96);	/* #f5f5f5  ≈≈ $C_gray_lightest	*/
$C_gray98: hsl(0,0,98);	/* #fafafa						*/
$C_gray100: white;		/* #fff							*/


