/**
*   VARIABLES_M
*   @description
*   Sass vars for mobile. include variables and override the spacing ones
*
*   @note
*   - color naming convention is really weird and difficult to remember. this
*     is why i ended up defining my own colors everywhere in _new_styles, which is 
*     bad for consistency.
*   - Fixed font sizes are bad for adaptive layouts. What happens when we need to
*     shrink the layout?
*
*   TODO
*   - flexible font and padding sizes. Making it based off of a master `body {}`
*     size will allow us to be responsive at multiple sizes without doing a lot
*     of media-based overrides.
*   - Standardized/saner gray values
*
*
*/


/*  OVERRIDES {
 *
 *  Generic overrides for the mobile site of variables in
 *  config/_variables.scss
 *
 */


/*  @note
 *  Devices from the major manufacturers (iOS, Android, WinPhone) all 
 *  include typefaces that have multiple weights supported. This means
 *  we can do fancy things with headers.
 */
$baseFontStack: "Helvetica Neue", "Roboto", "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
$headingFontStack: $baseFontStack; 
$uiControlFontStack: $baseFontStack;

$h1FontSize: 24px;
$h2FontSize: 20px;
$h3FontSize: 16px;
$h4FontSize: 14px;
$h5FontSize: $baseFontSize;
$h6FontSize: $baseFontSize;

$baseline: 12px;        /*  unused, except for below  */
$spacing: 9px;          /*  used, but has a lot of conditional overrides/modifications */
$basePadding: 8px; 
$formLabelOffset: $baseline * 9; /* horizontal offset of label/field */
/*  }  */



/*  ADDITIONS {
 *  
 *  Additional UI Variables, mostly colors, used throughout MWeb.
 *  Maybe some of these should be localized to where they're used, like
 *  the topbar colors?
 */
$C_topbarRed:#DA364B;
$C_topbarRed_dark:#C2293F;

$C_darkGreen: #007B3D;  /* used 1x in global, after aliasing itself */
$C_rsvpGoing: #62AC75;
$C_rsvpWating: #86c6ee;
$C_rsvpNotGoing: #999;

// RSVP status, aliases
$checkin: $C_darkGreen;
$yes: $C_rsvpGoing;
$waiting: $C_rsvpWating;
$no: $C_rsvpNotGoing;
/*  }  */
