/**
* VARIABLES_M
* Sass vars for mobile. include variables and override the spacing ones
*/

// colors
$C_darkGreen: #007B3D;
$C_peach:#F7EEE2;
$C_nearBlack: #333;

//meetuppy colors
$C_topbarRed:#DA364B;
$C_topbarRed_dark:#C2293F;

/* {{{ Colors */
$C_rsvpGoing: #62AC75;
$C_rsvpWating: #86c6ee;
$C_rsvpNotGoing: #999;

// RSVP status, aliases
$checkin: $C_darkGreen;
$yes: $C_rsvpGoing;
$waiting: $C_rsvpWating;
$no: $C_rsvpNotGoing;


$baseline: 12px;
$spacing: 9px;
$basePadding: 8px; 

$defaultRadius: 4px;	
$formLabelOffset: $baseline * 9; /* horizontal offset of label/field */

$baseFontSize: 12px;
$bigFontSize: 18px;

$h1FontSize: 24px;
$h2FontSize: 20px;
$h3FontSize: 16px;
$h4FontSize: 14px;
$h5FontSize: $baseFontSize;
$h6FontSize: $baseFontSize;


