<% isIndex = title.empty? %>

	<% if isIndex %>
		<nav id="homeNav" class="docStripe--inverted inverted margin-none">
			<div class="docBounds">
				<div class="docSection">
					<h2>Documentation</h2>
					<ul class="pipeList">
						<% @categories.each do |category, file_name| %>
							<li class="<%= title == category ? 'selected' : '' %>">
								<a href="<%= file_name %>"><%= category %></a>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</nav>
	<% end %>

	<% if not isIndex %>
			</section>
		</div>
	<% end %>

	<script type="text/javascript">
		// links in code examples shouldn't be followable
		window.onload = function() {
			var links = document.querySelectorAll('.codeExample a');
			for ( i=0; i<links.length; i++ ) {
				if ( !links[i].dataset.follow ) {
					links[i].onclick = function() {
						return false;
					};
				}
			}
		};
	</script>

	</body>
</html>
