<!DOCTYPE html>
<html>
<head>
  <title>Sassquatch Documentation</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="//static2.meetupstatic.com/fonts/whitney.css" />
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/sassquatch.css">
</head>
<body>

  <header>
  	Sassquatch
  </header>

  <div id="wrapper">

    <nav role="main">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/buttons">Buttons</a></li>
      </ul>
    </nav>

    <%= yield %>

  </div><!-- /#wrapper -->

  <script src="/javascripts/kss.js"></script>

</body>
</html>
