<%# {{{ BUTTONS %>
<% styleguide_block  '1.1' do %>
  <a class="button $modifier_class">Default Button</a>
<% end %>

<% styleguide_block  '1.2' do %>
  <a class="button--primary $modifier_class">Primary Button</a>
<% end %>

<% styleguide_block  '1.3' do %>
  <a class="button-flat $modifier_class">Flat button</a>
<% end %>
<%# }}} %>
