/**
 *      @file   _fix-flex.scss
 *
 *      @author John Cockrell <john@meetup.com>
 *      @since  2013-05-14
 *
 *      @description
 *      A collection of styles that allow us to do tabular internal layouts 
 *      on list items, etc. It's particularly useful on responsive layouts, 
 *      like we use for mobile.
 *      
 *      For semantics, it's important to always put `.fix` and `.flex` elements
 *      inside a `.fix-flex-box`--because putting naked table cells inside other
 *      table cells doesn't make semantic sense and won't necessarily be 
 *      predictable in layout across browsers.
 *
 *      There should be only one `.flex` per row.
 *
 *      NOTE: If you want to set minimum heights on fix, flex or ff-box,
 *      you'll need to use `height` rather than `min-height` because of the 
 *      way table layouts are used in CSS.
 *
 *      NOTE: In the future, we'll probably want to swap out tabular layouts 
 *      with flexbox.
 */


/*  ======================================================================= */
/*  FF BOX  */

.ff-box { 
    @extend %layout_full_width_table;
    @include box-sizing('border');
}

.ff-box-fix,
.ff-box-flex { 
    @extend %layout_middle_align_table_cell;
}

.ff-box-flex { 
    width: 100%;    
}

/*  ======================================================================= */
/*  FF BOX MODIFIERS  */

/*  Use `class="ff-box ff-box--fixed-layout"` to get a fixed width layout for
 *  all child cells.
 */
.ff-box--fixed-layout {
    table-layout: fixed;
}

.ff-box--fixed-layout .ff-box-flex {
    width: auto;
}
