/** 
 *      @file   _new_parameters
 *
 *      @description
 *
 *      Temporary holding place for new parameters for mobile layout.
 */


/*  ======================================================================= */
/*  PARAMETERS  */


$figureset_inner_padding:           0.625em; /* 10/16 */ 
$input_and_textarea_inner_padding:  0.625em; /* 10/16 */
$touchList_item_inner_padding:      0.625em; /* 10/16 */

$mobile_cursor_width:   5px; /* For iOS: Hard coded because fixed width */
$pressables_height_and_width:       1.375em; /* 22/16 */
$touchable_default_height:          3em;     /* 48/16 */
$touchable_min_height:              2em;     /* 32/16 */


/*  Equivalent dummy values for a 1em = 16px browser baseline */
$FS_header:     1.25em;     /* 20/16 */
$FS_subheader:  1.125em;    /* 18/16 */
$FS_label:      1em;        /* 16/16 */
$FS_text:       0.875em;    /* 14/16 */
$FS_caption:    0.75em;     /* 12/16 */
/*  We probably shouldn't go smaller than 12px because running text and labels
 *  become difficult to read/grainy on low resolution displays */

$LH_standard:   1.25;
$LH_expanded:   1.3;
$LH_tall:       1.4;

/*  Colors  */
$C_gray00: black;       /* #000                             */
$C_gray20: hsl(0,0,20); /* #333     == $C_darkgray          */
$C_gray40: hsl(0,0,40); /* #666     ≈≈ $C_darkgray_lighter  */
$C_gray60: hsl(0,0,60); /* #999                             */
$C_gray70: hsl(0,0,70); /* #b3b3b3                          */
$C_gray80: hsl(0,0,80); /* #ccc                             */
$C_gray90: hsl(0,0,90); /* #e5e5e5                          */
$C_gray94: hsl(0,0,94); /* #f0f0f0  ≈≈ $C_gray_lighter      */
$C_gray96: hsl(0,0,96); /* #f5f5f5  ≈≈ $C_gray_lightest     */
$C_gray98: hsl(0,0,98); /* #fafafa                          */
$C_gray100: white;      /* #fff                             */


