/**
* Pagination Pattern
*/

.nav-pagination {
	list-style-type: none;
	margin-bottom: $spacing;
	@include clearfix;
	padding: 0;
	a, .nav-button {  // should deprecate the class-free a styling and enforce a.nav-pagelink. cleanup
		font-family: $headingFontStack;
		border: 1px solid $C_line;
		border-left-width: 0;
		padding: 0.4em 0;
		width: 2.6em;
		text-align: center;
		display: block;
		background-color: white;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
		&:hover {
			background-color: $C_line_less;
			text-decoration: none;
		}
		&.disabled {
			color: $C_darkgray_lightest;
			&:hover {
				background-color: white;
			}
		}
	}
	li, .nav-pageitem {  // should deprecate the class-free li styling and enforce li.nav-pageitem. cleanup
		float: left;
		padding: 0;
		&:first-child a {
			border-left-width: 1px;
			@include round-nw($defaultRadius);
			@include round-sw($defaultRadius);
		}
		&:last-child a {
			@include round-ne($defaultRadius);
			@include round-se($defaultRadius);
		}
		&.selected a {
			@include punched_in_box_shadow;
			color: $C_text_less;
		}
	}
}
