/* Tearsheets

Tearsheets are basically date displays that look like daily calendar tearsheets

The styles here provide a few different sizes (see the @includes at the bottom),
as well as a few different states/types:
	- .tearsheet-disabled: greyed-out state
	- .tearsheet-add: tearsheet designed as a button prompting user to
		click and enter their own date
	- .tearsheet-expandable: instead of the fixed-height default, an
		expandable tearsheet has height: auto;

*/

@import "../util/tearsheet";

@if $platform == "desktop" {

	.tearsheet-disabled {
		a:hover & {
			.month {
				background-color: darken($C_gray, 10%);
			}
		}
		.month {
			background-color: $C_gray;
		}
	}
	.tearsheet-add {
		// standard markup for a tearsheet-add will have NO .month text,
		// NO .day text, and NO .time text.
		// .day-of-week text should be
		// "Choose <br>another date" or somethings similar
		a:hover & {
			.time {
				background-color: white;
			}
		}
		.month {
			position: relative;
			&:after {
				content: '+';
				font-family: Arial, Helvetica, sans-serif;
				font-size: 38px;
				font-weight: bold;
				-webkit-font-smoothing: antialiased;
				text-align: center;
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 30px;
				height: 30px;
				border-radius: 15px;
				line-height: 0.8;
				margin-left: -14px;
				margin-bottom: -15px;
				margin-top: 12.5px;
				background-color: inherit;
				color: inherit;
			}
		}
		.day-of-week {
			padding-top: 2em;
			margin-bottom: -2.5em;  // keeps the height similar to regular tearsheets
		}
		.time {
			background-color: $C_gray_lightest;
			font-weight: bold;
			border-width: 0 1px 1px;
		}
	}

	@include tearsheet(25);
	@include tearsheet(30);
	@include tearsheet(40);
	@include tearsheet(80);
	.tearsheet {
		@extend .tearsheet-40
	}
}
