<h2 class="section-subtitle">Avatar TouchList</h2>
<p>Want avatars? We got avatars. I see you.</p>

{% include touchlist/avatar_example.liquid %}

<h2 class="section-subtitle">Avatar + Input TouchList</h2>
<p>Want avatars with inputs? We've still got you covered.</p>

{% include touchlist/avatar_input_example.liquid %}
