<li class="touchList-item ffbox">
    <div class="ffbox-fix">
        <div class="avatar" style="background-image:url(http://placekitten.com/g/100/100/)"></div>
    </div>
    <div class="ffbox-flex">
        <div class="ffbox ffbox--touchList-item">
            <div class="ffbox-flex">
                <p>Paragraph content</p>
            </div>
        </div>
    </div>
</li>
<li class="touchList-item ffbox">
    <div class="ffbox-fix">
        <div class="avatar avatar--square" style="background-image:url(http://placekitten.com/g/100/110/)"></div>
    </div>
    <div class="ffbox-flex">
        <div class="ffbox ffbox--touchList-item">
            <div class="ffbox-flex">
                <span>Span content</span>
            </div>
        </div>
    </div>
</li>
<li class="touchList-item ffbox">
    <a href="#" class="touchList-item-action">
        <div class="ffbox-fix">
            <div class="avatar" style="background-image:url(http://placekitten.com/g/110/100/)"></div>
        </div>
        <div class="ffbox-flex">
            <div class="ffbox ffbox--touchList-item">
                <div class="ffbox-flex">
                    <p>Paragraph with link wrap</p>
                </div>
            </div>
        </div>
    </a>
</li>
<li class="touchList-item ffbox">
    <div class="ffbox-fix">
        <div class="avatar" style="background-image:url(http://placekitten.com/g/120/100/)"></div>
    </div>
    <div class="ffbox-flex">
        <div class="ffbox ffbox--touchList-item">
            <div class="ffbox-flex">
                <p>Paragraph content</p>
            </div>
        </div>
        <div class="ffbox">
            <div class="ffbox-flex touchList-helperTextWrap">
                <label id="" for="" class="touchList-helperText">
                    Helper text - this can be as long as you want. It will wrap to multiple lines.
                </label>
            </div>
        </div>
    </div>
</li>
<li class="touchList-item ffbox">
    <div class="ffbox-fix">
        <div class="avatar" style="background-image:url(http://placekitten.com/g/100/120/)"></div>
    </div>
    <div class="ffbox-flex">
        <label for="" class="touchList-blockLabel">Block label used as a heading</label>
        <div class="ffbox ffbox--touchList-item">
            <div class="ffbox-flex">
                <p>Paragraph content</p>
            </div>
        </div>
        <div class="ffbox">
            <div class="ffbox-flex touchList-helperTextWrap">
                <label id="" for="" class="touchList-helperText"></label>
            </div>
        </div>
    </div>
</li>
<li class="touchList-item ffbox">
    <div class="ffbox-fix">
        <div class="avatar avatar--square" style="background-image:url(http://placekitten.com/g/80/100/)"></div>
    </div>
    <div class="ffbox-flex">
        <label for="" class="touchList-blockLabel">Block label heading</label>
        <div class="ffbox ffbox--touchList-item">

            <div class="ffbox-flex">
                <p>Paragraph content</p>
            </div>
        </div>
        <div class="ffbox">
            <div class="ffbox-flex touchList-helperTextWrap">
                <label id="" for="" class="touchList-helperText">Helper text</label>
            </div>
        </div>
    </div>
</li>
