<li id="member11130829_item" class="touchList-item ffbox">
	<a href="#" id="member_action" class="touchList-item-action ffbox-flex unlink">
		<div class="ffbox--touchList-item">
			<div class="ffbox-fix">
				<div class="avatar avatar--person margin-none" style="background-image:url(http://placekitten.com/g/90/100/);"></div>
			</div>
			<div class="ffbox-flex padding-none">
				<div class="ffbox ffbox--touchList-item has-right-action">
					<div id="member_content" class="ffbox-flex">
						<h4 class="">Mr. Jinx</h4>
						<ul class="inlineblockList pill-list"><li class="pill-label--leader">Event Organizer</li></ul>
						<p class="small leading-top margin-none">Try to milk me and you'll be sorry.</p>
					</div>
					<label class="ffbox-fix ffbox--shaded">
						<input type="checkbox" name="member" id="member11130829" class="" value="1" tabindex="0">
						<i class="icon-s icon-checkbox pseudocheckbox"></i>
					</label>
				</div>
				<div class="ffbox">
					<div class="ffbox-flex touchList-helperTextWrap">
						<label id="" for="member_input" class="touchList-helperText"></label>
					</div>
				</div>
			</div>
		</div>
	</a>
</li>
