<li class="touchList-item ffbox ffbox--touchList-avatar">
    <div class="ffbox-fix ffbox-fix--avatar">
        <div class="avatar touchList-avatar avatar--person" style="background-image:url(http://placekitten.com/g/90/100/)"></div>
    </div>
    <div class="ffbox-flex">
        <div class="ffbox ffbox--touchList-item">
            <div class="ffbox-flex">
                <p>Paragraph content (avatar--chapter)</p>
            </div>
        </div>
    </div>
</li>
<li class="touchList-item ffbox ffbox--touchList-avatar">
    <div class="ffbox-fix ffbox-fix--avatar">
        <div class="avatar touchList-avatar avatar--person" style="background-image:url(http://placekitten.com/g/100/150/)"></div>
    </div>
    <div class="ffbox-flex">
        <div class="ffbox ffbox--touchList-item">
            <div class="ffbox-flex">
                <span>Span content (avatar--person)</span>
            </div>
        </div>
    </div>
</li>
<li class="touchList-item ffbox">
    <a href="#" class="touchList-item-action ffbox--touchList-avatar">
        <div class="ffbox-fix ffbox-fix--avatar">
            <i class="touchList-avatar touchList-avatar--icon icon icon-groups"></i>
        </div>
        <div class="ffbox-flex">
            <div class="ffbox ffbox--touchList-item">
                <div class="ffbox-flex">
                    <p>Paragraph with link wrap (icon-groups avatar)</p>
                </div>
            </div>
        </div>
    </a>
</li>
<li class="touchList-item ffbox ffbox--touchList-avatar">
    <div class="ffbox-fix ffbox-fix--avatar">
        <i class="touchList-avatar touchList-avatar--icon icon icon-user"></i>
    </div>
    <div class="ffbox-flex">
        <div class="ffbox ffbox--touchList-item">
            <div class="ffbox-flex">
                <p>Paragraph content (icon-user avatar)</p>
            </div>
        </div>
        <div class="ffbox">
            <div class="ffbox-flex touchList-helperTextWrap">
                <label id="" for="" class="touchList-helperText">
                    Helper text - this can be as long as you want. It will wrap to multiple lines.
                </label>
            </div>
        </div>
    </div>
</li>
<li class="touchList-item ffbox ffbox--touchList-avatar">
    <div class="ffbox-fix ffbox-fix--avatar">
        <div class="avatar touchList-avatar avatar--person" style="background-image:url(http://placekitten.com/g/100/120/)"></div>
    </div>
    <div class="ffbox-flex">
        <div class="ffbox ffbox--touchList-item">
            <div class="ffbox-flex">
                <h4 class="touchList-label--item">Content header</h4>
                <p>Paragraph content (avatar--person)</p>
            </div>
        </div>
        <div class="ffbox">
            <div class="ffbox-flex touchList-helperTextWrap">
                <label id="" for="" class="touchList-helperText"></label>
            </div>
        </div>
    </div>
</li>
<li class="touchList-item ffbox ffbox--touchList-avatar">
    <div class="ffbox-fix ffbox-fix--avatar">
        <div class="avatar touchList-avatar avatar--chapter" style="background-image:url(http://placekitten.com/g/80/100/)"></div>
    </div>
    <div class="ffbox-flex">
        <div class="ffbox ffbox--touchList-item">
            <div class="ffbox-flex">
                <h4 class="touchList-label--item">Content header</h4>
                <p>Paragraph content (avatar--chapter)</p>
            </div>
        </div>
        <div class="ffbox">
            <div class="ffbox-flex touchList-helperTextWrap">
                <label id="" for="" class="touchList-helperText">Helper text</label>
            </div>
        </div>
    </div>
</li>
