/**
* Button factory mixins
* ------------------------------------------
*/

$buttonFontSize: 16px;

%button_personality {
	@include experimental('user-select', 'none');
	cursor: pointer;
	text-decoration: none!important;
}
@mixin button_personality() {
	// mixin for legacy support of @include button_personality
	@extend %button_personality;
}

%_button_base {
	@include button_personality();
	@include inlineblock();
	@include box-sizing("border");
	@extend %niceFocus;
	border-radius: $defaultRadius;
	@if $platform == "desktop" {
		padding: 9px 18px 7px 18px;
	} @else {
		padding: 14px 18px 12px 18px;
	}
	margin-bottom: $baseline;
	font-family: $uiControlFontStack;
	font-weight: $W_bold;
	font-size: $buttonFontSize;
	line-height: 1 !important;
	text-decoration: none !important;
	border-width: 0;
	text-align: center;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-ms-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	&.small {
		font-size: 12px;
		padding: 5px 14px;
	}

}

%_button_base_flat {
	@extend %_button_base;
	@include transition(all .1s ease-in-out);
	&, &:active {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
	}
}

// Adds a transparent pseudo element
// that bleeds about 3px from the top of the button
// to intercept clicks when the button itself
// is translated down 2px
%_chrome_button_fix {
	position: relative;
	&:after {
		content: '';
		background: transparent;
		position: absolute;
		top: -4px;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

/**
* Default button
*
* @param $bgColor - background color
* @param $textColor - text color (calculated from bgColor if unspecified)
* -----------------------------------------------
*/
@mixin button( $bgColor: $C_tertiaryGray, $textColor: "" ) {
	$borderOffset: 25%;

	@if $textColor == "" {
		$textColor: getPrimaryTextColor($bgColor);
	}

	@extend %_button_base;
	@if $platform == "desktop" {
		@extend %_chrome_button_fix;
	}
	@include box-shadow(darken($bgColor, $borderOffset), 0px, 2px, 0px, 0px);
	color: $textColor !important; // need this for chapstick
	background: $bgColor;

	&.button--active,
	&:active {
		@include box-shadow(darken($bgColor, $borderOffset), 0px, 0px, 0px, 0px);
		@include transform(translate(0px, 2px));
	}

	&.button--active,
	&:hover {
		background:  darken($bgColor, 8%);
	}

	&.disabled,
	&:disabled {
		opacity: 0.4;
		cursor: normal;
		&:active {
			@include transform(translate(0px, 0px));
			@include box-shadow($C_tertiaryGray, 0px, 2px, 0px, 0px);
		}
		&:hover {
			background: $bgColor !important;
		}
	}
}



/**
* Flat button
* @param $color - single border/text/hover color
* -----------------------------------------------
*/
@mixin button-flat( $color ) {
	@extend %_button_base_flat;
	color: $color !important;
	background: transparent;
	border: 2px solid $color;

	&:focus,
	&:hover {
		background: $color;
		color: getPrimaryTextColor($color) !important;
	}

	&.disabled,
	&:disabled {
		cursor: default !important;
		&:active,
		&:visited,
		&:focus,
		&:hover {
			border-color: $color !important;
			opacity: 0.7;
			color: $color !important;
			background: transparent;
		}
	}
}

/**
* Photo button
* for overlaying photos
* @param $color - single border/text/hover color
* -----------------------------------------------
*/
@mixin button-photo( $color ) {
	@extend %_button_base_flat;
	color: $color !important;
	background: rgba(0,0,0,0.25);
	border: 2px solid $color;

	&:hover {
		background: $color;
		color: getPrimaryTextColor($color) !important;
	}
}
