$_buttonHeight: 36px;

%buttonPersonality {
	@include user-select(none);
	cursor: pointer;
	text-decoration: none !important;
}

@mixin buttonBase() {
	@extend %buttonPersonality;
	@include display(inline-flex);
	@include flex-direction(row);
	@include justify-content(center);
	@include align-items(center);
	@include transition(background .15s);
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: $defaultRadius;
	background: transparent;
	font-size: $font-size;
	font-weight: $W_bold;
	min-height: $_buttonHeight;
	outline: 0;
	padding: 0 $font-size;
	vertical-align: middle;
	line-height: 1; // :sq1 convention:
	margin-bottom: $font-size; // :sq1 convention:

	@include browser-ie11() {
		min-height: 0;
		padding-top: 0.33em;
		padding-bottom: 0.5em;
	}

	&,
	&:link,
	&:active,
	&:hover,
	&:visited {
		color: $C_textPrimary;
	}

	border: 1px solid $C_border;
	.inverted & {
		border: 1px solid $C_borderInverted;
	}
}

%_button_base,
%buttonBase {
	@include buttonBase();
}

@mixin buttonHover($bgColor: $C_textPrimary) {
	&:hover,
	&:focus {
		background: transparentize($bgColor, .8);
		border-color: transparent;
	}

	&:active {
		background: transparentize($bgColor, .75);
		border-color: transparent;
	}
}

// second argument exists only to support legacy use of mixin
@mixin buttonColor($bgColor: $C_button, $lol: None) {
	@include color-all(getPrimaryTextColor($bgColor), true);
	background: $bgColor;
	border-color: $bgColor;

	&:hover,
	&:focus {
		background: darken($bgColor, 8%);
		border-color: darken($bgColor, 8%);
	}

	&:active {
		background: darken($bgColor, 12%);
		border-color: darken($bgColor, 12%);
	}
}
