/**
* Button factory mixins
* ------------------------------------------
*/

$buttonFont: "Whitney SSm A", "Whitney SSm B", sans-serif; // TODO: read from UI/heading font defined in vars file

%_button_base {
	@include button_personality();
	@include round(3px);
	@include inlineblock();
	@include box-sizing("border");
	padding: 9px 18px 7px 18px;
	margin: 0 0 $baseline 0;
	font-family: $buttonFont !important;
	font-size: 15px;
	font-weight: $W_bold;
	line-height: 1 !important;
	text-decoration: none !important;
	border-width: 0;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-ms-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	&:focus {
		outline-width: 0;
	}
	&.small {
		font-size: 12px;
		padding: 5px 14px;
	}
}

/**
* Default button
*
* @param $bgColor - background color
* @param $textColor - text color (calculated from bgColor if unspecified)
* -----------------------------------------------
*/
@mixin button( $bgColor: $C_tertiaryGray, $textColor: "" ) {
	$borderOffset: 25%;

	@if $textColor == "" {
		$textColor: getPrimaryTextColor($bgColor);
	}

	@extend %_button_base;
	@include box-shadow(darken($bgColor, $borderOffset), 0px, 2px, 0px, 0px);
	color: $textColor !important; // need this for chapstick
	background: $bgColor;

	&:active {
		@include box-shadow(darken($bgColor, $borderOffset), 0px, 0px, 0px, 0px);
		@include transform(translate(0px, 2px));
	}

	&:hover {
		background:  darken($bgColor, 8%);
	}

	&.disabled,
	&:disabled {
		opacity: 0.4;
		cursor: normal;
		&:hover {
			background: $bgColor;
		}
		&:active {
			@include transform(translate(0px, 0px));
			@include box-shadow($C_tertiaryGray, 0px, 2px, 0px, 0px);
		}
	}
}



/**
* Flat button
* @param $color - single border/text/hover color
* -----------------------------------------------
*/
@mixin button-flat( $color ) {
	@extend %_button_base;
	@include transition(all .1s ease-in-out);
	color: $color !important;
	background: transparent;
	border: 2px solid $color;

	&, &:active {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
	}

	&:hover {
		background: $color;
		color: getPrimaryTextColor($color) !important;
	}
}
