/**
* Pill Label factory mixins
* ------------------------------------------
*/
$pillBaseSize: 11px;

%_pill_text_base {
	font-size: $pillBaseSize;
	text-transform: uppercase;
	font-variant: small-caps;
}

%_pill_label_base {
	@extend %_pill_text_base;
	@include round($defaultRadius);

	padding: $pillBaseSize/4 $pillBaseSize/2;
	margin: 0 $pillBaseSize/4;
}


/**
* Solid Pill
*
* @param $bgColor - background color
* @param $textColor - text color (calculated from bgColor if unspecified)
* -----------------------------------------------
*/
@mixin solid_pill( $bgColor: $C_secondaryGray, $textColor: "" ) {

	@extend %_pill_label_base;

	@if $textColor == "" {
		$textColor: getPrimaryTextColor($bgColor);
	}

	background-color: $bgColor;
	color: $textColor;
}


/**
* Hollow Pill
*
* @param $bgColor - background color
* @param $textColor - text color (calculated from bgColor if unspecified)
* -----------------------------------------------
*/
@mixin hollow_pill( $color: $C_secondaryGray ) {

	@extend %_pill_label_base;

	border: 1px solid $color;
	color: $color;
}
