/*doc
---
title: Placeholder Classes
name: placeholders
category: Sass Utilities
---

Sassquatch provides a few useful general purpose placeholder classes:

Placeholder                    | Description
-------------------------------| -------------------------------------------------
`@extend %clearfix;`           | adds clearfix pseudoclass hack to clear children
`@extend %nice-type;`          | optimizeLegibility text rendering
`@extend %button_personality;` | sets user-select, cursor, and link styles for button-like elements

*/

%clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}

	/**
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */
	.ie6 &,
	.ie7 & {
		zoom: 1;
	}
}

%nice-type {
	text-rendering: optimizeLegibility;
	// -webkit-font-smoothing: subpixel-antialiased;  // this is the default value for webkit
	//-webkit-text-stroke: .5px;  // bad for scrolling performance on lots of text
}

%button_personality {
	@include experimental('user-select', 'none');
	cursor: pointer;
	text-decoration: none!important;
}
