/*doc
---
title: Media Queries
name: respondTo
categroy: Sass Mixins
---

```
	@include respond-to(); // small
```

*/

$break-small: 500px;
$break-large: 900px;
@mixin respond-to($media) {
	@if $media == "XS" {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == "S" {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
	}
	@else if $media == "M" {
		@media only screen and (min-width: $break-large) { @content; }
	}
	@else if $media == "L" {
		@media only screen and (min-width: $break-large) { @content; }
	}
}
