$defaultRadius: 		3px;
$formLabelOffset: 	$baseline * 9; /* horizontal offset of label/field */
$spacing: 				$baseline;
$Z_top: 					5000;

// standard media sizes
$media-xs: 	16px;
$media-s: 	32px;
$media-m: 	48px;
$media-l: 	64px;
$media-xl: 	80px;
