/**
* Legacy typography vars
* -----------------------------------
*
* In order to maintain support for legacy vars,
* this file maps our old type vars to new vars
* copied from sq2 (`sass/globals/_type.scss`)
*/

// base font sizes
$baseFontSize: 	$font-size;
$baseLineHeight: 	$line-height;

// not actually used as line-height, we should rename
$baseline: $font-size;

// small font sizes
$smallFontSize: 	$font-size-small;
$smallLineHeight: $line-height-smallText;

// big font sizes
$bigFontSize: 		$font-size-big;
$bigLineHeight: 	$line-height-largeText;
$bigBaseline: 		$baseline;

// heading sizes
$h1FontSize: 	$font-size-display1;
$h2FontSize: 	$font-size-display2;
$h3FontSize: 	$font-size-display3;
$h4FontSize: 	$font-size;
$h5FontSize: 	$font-size;
$h6FontSize: 	$font-size;

// font stacks
$F_sans: $font;
$F_num: $font;
$F_mono: $font--mono;
$baseFontStack: 			$F_sans;
$headingFontStack: 		$F_sans;
$uiControlFontStack: 	$F_sans;
$monoFontStack: 			$F_mono;

// weights
$W_numeral: $W_bold;

// numeral placeholder
%numerialFont {
	font-family: $F_num;
	font-weight: $W_numeral;
}
