// WARNING: you have to initialize mobile-specific vars outside of the @if so they have global scope
$C_topbarRed:			null;
$C_topbarRed_dark:		null;
$yes:					null;
$waiting: 				null;
$no:					null;

@if $platform == "mobile" {

	$C_topbarRed: 			$C_purple;
	$C_topbarRed_dark: 	$C_purple;

	// RSVP status, aliases
	$yes: 					$C_rsvpGoing;
	$waiting: 				$C_rsvpWating;
	$no: 					$C_rsvpNotGoing;

}
