// WARNING: you have to initialize mobile-specific vars outside of the @if so they have global scope
$C_topbarRed:			null;
$C_topbarRed_dark:		null;
$checkin:				null;
$yes:					null;
$waiting: 				null;
$no:					null;
$condensedLineHeight:	null;

@if $platform == "mobile" {

	/*  OVERRIDES {
	 *
	 *  Generic overrides for the mobile site of variables in
	 *  config/_variables.scss
	 *
	 */

	/*  @note
	 *  Devices from the major manufacturers (iOS, Android, WinPhone) all
	 *  include typefaces that have multiple weights supported. This means
	 *  we can do fancy things with headers.
	 */
	$baseFontStack:			$F_sans;
	$headingFontStack:		$baseFontStack;
	$uiControlFontStack:	$baseFontStack;

	$condensedLineHeight:	1.125;

	$h1FontSize:	$baseFontSize * 1.625; 	//26px
	$h2FontSize:	$baseFontSize * 1.5;	//24px
	$h3FontSize:	$baseFontSize * 1.25;	//20px
	$h4FontSize:	$baseFontSize;
	$h5FontSize:	$baseFontSize;
	$h6FontSize:	$baseFontSize;

	$baseline:			16px;
	$spacing:			$baseline / 2;	/*  used, but has a lot of conditional overrides/modifications */
	$basePadding:		$spacing;
	$formLabelOffset:	$baseline * 9;	/* horizontal offset of label/field */

	/*  }  */

	/*  ADDITIONS {
	 *
	 *  Additional UI Variables, mostly colors, used throughout MWeb.
	 *  Maybe some of these should be localized to where they're used, like
	 *  the topbar colors?
	 */
	$C_topbarRed: 			$C_purple;
	$C_topbarRed_dark: 	$C_purple;

	// RSVP status, aliases
	$yes: 					$C_rsvpGoing;
	$waiting: 				$C_rsvpWating;
	$no: 					$C_rsvpNotGoing;
	/*  }  */
}
/* }}} */
