$font : "Graphik Meetup", helvetica, arial, sans-serif;
$font--mono : Monaco, "Andale Mono", "Courier New", monospace;

// Sizes
$font-size-small     : 13px;
$font-size-big       : 20px;
$font-size           : 16px;
$font-size-tearsheet : 24px;
$font-size-display3  : 28px;
$font-size-display2  : 34px;
$font-size-display1  : 42px;

// Weights
$W_normal : 400;
$W_medium : 500;
$W_bold   : 600;

// Leading
$line-height-largeText : 1.25;
$line-height           : 1.45;
$line-height-smallText : 1.6;
