$baseline: 			18px; // not actually used as line-height, we should rename

// base font sizes
$baseFontSize: 	16px;
$baseLineHeight: 	1.4;

// small font sizes
$smallFontSize: 	13px;
$smallLineHeight: 1.6;

// big font sizes
$bigFontSize: 		20px;
$bigLineHeight: 	1.33;
$bigBaseline: 		18px; // not actually used as line-height, we should rename

// heading sizes
$h1FontSize: 	38px;
$h2FontSize: 	28px;
$h3FontSize: 	20px;
$h4FontSize: 	$baseFontSize;
$h5FontSize: 	$baseFontSize;
$h6FontSize: 	$baseFontSize;

// font stacks
$F_sans: 					'Graphik', helvetica, arial, sans-serif;
$F_num: 						'Graphik', helvetica, arial, sans-serif ;
$F_mono: 					Monaco, "Andale Mono", "Courier New", monospace;
$baseFontStack: 			$F_sans;
$headingFontStack: 		$F_sans;
$uiControlFontStack: 	$F_sans;
$monoFontStack: 			$F_mono;

// weights
$W_normal: 400;
$W_bold: 800;
$W_numeral: 800;

// numeral placeholder
%numerialFont {
	font-family: $F_num;
	font-weight: $W_numeral;
}
