/**
* SANDBOX
* not organized yet
*/
@import "../config/mixins.scss";
@import "../config/variables.scss";

$radius: 4px;

body{
	background: #eee;
}

.header{
	height: 16px;
	background: $C_red;
}
.sysmsg{
	background: $C_darkgray;
	color: #fff;

}
.wrap{
	width: 960px;
	margin: 0 auto;
	padding: $spacing 0;
	overflow: hidden;
}


